<div class="container-fluid">

    <app-page-title title="All Loan Approvals" [breadcrumbItems]="breadCrumbItems" 
    bgimageclass="addcategory_header"></app-page-title>
  
    <div class="row">
        <form class="col-sm-12" novalidate #_categoryFormElem="ngForm" >
         <div class="card card-bg">
          <div class="card-body">
              <h2>All {{sTableContent}} Approvals</h2>
  
  
             <div class="row mb-md-2">
                  
           <div class="table-responsive">
            <table class="table table-centered tableText tabledata" id="basic-datatable">
              <thead>
                <tr>
                  <th>Account Number</th>
                  <th>{{sTableContent}} Name</th>
                  <th>Start Date</th>
                  <th *ngIf="sTableContent === 'Saving Deposits'">Maurity Date</th>
                  <th *ngIf="sTableContent === 'Saving Deposits'">Deposited Amount</th>
                  <th *ngIf="sTableContent === 'Saving Deposits'">Maturity Amount</th>
                  <th *ngIf="sTableContent === 'Loan'">Sanction Amount</th>
                  <th *ngIf="sTableContent === 'Loan'">Total Amount</th>
                  <!-- <th>Maturity Date</th> -->
                 <th>Approved Status</th>
                 <th>Actions</th>
                 <!-- <th>View Approval</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let approval of aApprovals ;let i = index;">
                  <td>{{approval.sAccountNo}}</td>
                  <td *ngIf="sTableContent === 'Loan'">{{approval.sTypeofLoan}}</td>
                  <td *ngIf="sTableContent === 'Saving Deposits'">{{approval.sTypeofSavings}}</td>
                  <td *ngIf="sTableContent === 'Loan'">{{approval.sDate}}</td>
                  <td *ngIf="sTableContent === 'Saving Deposits'">{{approval.sStartDate}}</td>
                  <td *ngIf="sTableContent === 'Saving Deposits'">{{approval.sMaturityDate}}</td>
                  <td *ngIf="sTableContent === 'Saving Deposits'">{{approval.nDepositAmount}}</td>
                  <td *ngIf="sTableContent === 'Saving Deposits'">{{approval.nMaturityAmount}}</td>
                  <td *ngIf="sTableContent === 'Loan'">{{approval.nSanctionAmount}}</td>
                  <td *ngIf="sTableContent === 'Loan'">{{approval.nTotalAmount}}</td>
                  <!-- <td>{{approval.sMobileNumber}}</td>
                  <td>{{approval.sJoiningDate}}</td> -->
                  <td><label for="employee-status" class="status">{{approval.sIsApproved}}</label></td>
                  <td class="buttonDisplay">
                    <button class="btn btn-primary" 
                    (click)="fnChangeApprovalStatus(approval,'Approved')" [disabled]="approval.sIsApproved==='Approved'"><i
                    class="mdi mdi-employee-edit" >Approve</i></button>
  
                    <button class="btn btn-primary"  
                    (click)="fnChangeApprovalStatus(approval,'Rejected')" [disabled]="approval.sIsApproved==='Rejected'"><i
                    class="mdi mdi-employee-edit" >Reject</i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
        </div>
      </div>
      </form>
    </div> 
  </div>  
