
<div class="container-fluid">
    <!-- page title -->
    <app-page-title title="" [breadcrumbItems]="breadCrumbItems" *ngIf='!bHideBreadCrumb'
    bgimageclass="addcategory_header"></app-page-title>
  
    <div class="row">
      <form class="col-12" novalidate #_bankaccountFormElem="ngForm" >
        <div class="card card-bg">
          <div class="card-body">
            <h2>Credit Loan</h2>
  
             <div class="row">
              <div class="col-sm-12">                
              </div>
              
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="sSanctionAmount">Sanction Amount</label>                  
                  <input id="sSanctionAmount" name="sSanctionAmount" [(ngModel)]="ocreditloanmodel.sSanctionAmount" type="text"
                    class="form-control" >
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="sDate">Loan Issue Date</label>                  
                  <input id="sDate" name="sDate" [(ngModel)]="ocreditloanmodel.sDate" type="sDate"
                    class="form-control" >
                </div>
              </div>
              <div class="col-sm-6">
                <div class="add-container">
                  <div class="form-group">
                    <label for="sTypeofLoan">Type Of Loan</label>
                    <ng-select [items]="aTypeofLoan" name="sTypeofLoan"
                      [(ngModel)]="ocreditloanmodel.sTypeofLoan" 
                      bindLabel="displayText" bindValue="value">
                      <ng-template ng-label-tmp let-item="item">
                        {{item.displayText}}
                      </ng-template>
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="add-container">
                  <div class="form-group">
                    <label for="sInstallmentType">Installment Type</label>
                    <ng-select [items]="aInstallmentType" name="sInstallmentType"
                      [(ngModel)]="ocreditloanmodel.sInstallmentType" 
                      bindLabel="displayText" bindValue="value">
                      <ng-template ng-label-tmp let-item="item">
                        {{item.displayText}}
                      </ng-template>
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="sLoanRepaymentPeriod">Loan Repayment Period</label>                  
                  <input id="sLoanRepaymentPeriod" name="sLoanRepaymentPeriod" [(ngModel)]="ocreditloanmodel.sLoanRepaymentPeriod" type="text"
                    class="form-control" >
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="sInstallmentAmount">Installment Amount</label>
                  <input id="sInstallmentAmount" name="sInstallmentAmount" [(ngModel)]="ocreditloanmodel.sInstallmentAmount" type="text"
                    class="form-control" disabled>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="sDate">End of the Loan Date </label>
                  <input id="sDate" name="sDate" [(ngModel)]="ocreditloanmodel.sDate" type="sDate"
                    class="form-control" disabled>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="sLetPenaltyPercentage">Let Penalty Percentage</label>
                  <input id="sLetPenaltyPercentage" name="sLetPenaltyPercentage" [(ngModel)]="ocreditloanmodel.sLetPenaltyPercentage" type="text"
                    class="form-control" disabled>
                </div>
              </div> 
              <div class="col-sm-6">
                <div class="add-container">
                  <div class="form-group">
                    <label for="sEmployeeName">Loan Issue Employee</label>
                    <ng-select [items]="aLoanIssueEmployee" name="sEmployeeName"
                      [(ngModel)]="ocreditloanmodel.sEmployeeName" 
                      bindLabel="displayText" bindValue="value">
                      <ng-template ng-label-tmp let-item="item">
                        {{item.displayText}}
                      </ng-template>
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="add-container">
                  <div class="form-group">
                    <label for="sTransactionId">Transaction ID</label>
                    <input id="sTransactionId" name="sTransactionId" [(ngModel)]="ocreditloanmodel.sTransactionId" type="text"
                    class="form-control" disabled>
                  </div>
                </div>
              </div>                           
  
              <div class="col-sm-8 add-category-btn-container">
                <button type="submit" class="btn btn-primary mr-1" [disabled]="bIsAddActive || bIsEditActive"
                >{{sButtonText}}</button>
                <button type="button" class="btn btn-secondary"
                >Clear</button>
                <!-- <button type="button" class="btn btn-secondary"
                >Clear</button> -->
              </div>
            </div>
          </div>
        </div>
      </form>
  