<div class="container-fluid">
  <!-- page title -->
  <app-page-title title="" [breadcrumbItems]="breadCrumbItems" *ngIf='!bHideBreadCrumb'
    bgimageclass="addcategory_header"></app-page-title>

  <app-bank-account-data headerText="Credit Loan" (accountDataClicked)="fnGetActiveAccount($event)">
  </app-bank-account-data>

  <div class="row" *ngIf = "bLoadFrameDetails">
    <form class="col-12" novalidate #_CreditLoanFormElem="ngForm" (ngSubmit)="fnOnCreditLoanInfoSubmit()">
      <div class="card card-bg">

        <div class="card-body">
          <h2 *ngIf="oCreditLoanModel && oCreditLoanModel.sAccountNo">New Loan - {{oCreditLoanModel.sAccountNo}}</h2>
          <div class="row">

            <div class="col-sm-6">
              <div class="form-group">
                <label for="loanissueDate">Loan Issue Date</label>
                <input [bsConfig]="{startView: 'month', showWeekNumbers: false,
                    showTodayButton: true, todayPosition: 'center',containerClass: 'theme-orange',
                    dateInputFormat: 'DD-MM-YYYY' }" placeholder="Select Date" bsDatepicker name="loanissueDate"
                  class="form-control" [(ngModel)]="oCreditLoanModel.sDate" (bsValueChange)="fnCalculateDays()">
              </div>
            </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label for="loanendDate">Loan End Date</label>
                  <input [bsConfig]="{startView: 'month', showWeekNumbers: false,
                    showTodayButton: true, todayPosition: 'center',containerClass: 'theme-orange',
                    dateInputFormat: 'DD-MM-YYYY' }" placeholder="Select Date" bsDatepicker name="loanendDate"
                    class="form-control" [(ngModel)]="oCreditLoanModel.sEndofLoanDate" (bsValueChange)="fnCalculateDays()">
                </div>
              </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label for="nSanctionAmount">Sanction Amount</label>
                <input id="nSanctionAmount" name="nSanctionAmount" [(ngModel)]="oCreditLoanModel.nSanctionAmount"
                  type="number" class="form-control" (input)="fnCalculateTotalAmount()">
              </div>
            </div>




            <div class="col-sm-6">
              <div class="form-group">
                <label for="nIntrest">Intrest (%)</label>
                <input id="nIntrest" name="nIntrest" [(ngModel)]="oCreditLoanModel.nIntrest" type="number"
                  class="form-control" (input)="fnCalculateTotalAmount()">
              </div>
            </div>

            <!--Loan months-->
            <!-- <div class="col-sm-6">
                <div class="form-group">
                  <label for="nLoanMonths">Months</label>                  
                  <input id="nLoanMonths" name="nLoanMonths" [(ngModel)]="oCreditLoanModel.nLoanMonths" type="number"
                    class="form-control" (input)="fnCalculateTotalAmount()">
                </div>
              </div> -->
            <!--Loan Days-->
            <div class="col-sm-6">
              <div class="form-group">
                <label for="nLoanDays">Total Days</label>
                <input id="nLoanDays" name="nLoanDays" [(ngModel)]="oCreditLoanModel.nLoanDays" type="number"
                  class="form-control" (input)="fnCalculateTotalAmount()">
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label for="nSanctionAmount">Total Amount</label>
                <input id="nTotalAmount" name="nTotalAmount" [(ngModel)]="oCreditLoanModel.nTotalAmount" type="number"
                  class="form-control">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="add-container">
                <div class="form-group">
                  <label for="sTypeofLoan">Type Of Loan</label>
                  <ng-select [items]="aTypeofLoan" name="sTypeofLoan" [(ngModel)]="oCreditLoanModel.sTypeofLoan"
                    bindLabel="displayText" bindValue="displayText">
                    <ng-template ng-label-tmp let-item="item">
                      {{item.displayText}}
                    </ng-template>
                  </ng-select>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="add-container">
                <div class="form-group">
                  <label for="sInstallmentType">Installment Type</label>
                  <ng-select [items]="aInstallmentType" name="sInstallmentType"
                    [(ngModel)]="oCreditLoanModel.sInstallmentType" bindLabel="displayText" bindValue="displayText"
                    (change)="fnCalculateTotalAmount()">
                    <ng-template ng-label-tmp let-item="item">
                      {{item.displayText}}
                    </ng-template>
                  </ng-select>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="nInstallmentAmount">Installment Amount</label>
                <input id="nInstallmentAmount" name="nInstallmentAmount"
                  [(ngModel)]="oCreditLoanModel.nInstallmentAmount" type="number" class="form-control">
              </div>
            </div>
            <!--
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="endofloandate">End of the Loan Date </label>
                 <input id="endofloandate" name="endofloandate" [(ngModel)]="oCreditLoanModel.sEndofLoanDate" type="date"
                    class="form-control">

                    <input [bsConfig]="{startView: 'month', showWeekNumbers: false,
                    showTodayButton: true, todayPosition: 'center',containerClass: 'theme-orange',
                    dateInputFormat: 'DD-MM-YYYY' }"
                    placeholder="Select Date" bsDatepicker name="endofloandate"
                class="form-control"
                 [(ngModel)]="oCreditLoanModel.sEndofLoanDate">             
                </div>
              </div>
              -->
            <div class="col-sm-6">
              <div class="form-group">
                <label for="nLetPenaltyPercentage">Let Penalty Percentage</label>
                <input id="nLetPenaltyPercentage" name="nLetPenaltyPercentage"
                  [(ngModel)]="oCreditLoanModel.nLetPenaltyPercentage" type="number" class="form-control">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="add-container">
                <div class="form-group">
                  <label for="sEmployeeName">Loan Issue Employee</label>
                  <ng-select [items]="aUsers" name="sEmployeeName" [(ngModel)]="oCreditLoanModel.sEmployeeName"
                    bindLabel="sEmployeeName" bindValue="sEmployeeName">
                    <ng-template ng-label-tmp let-item="item">
                      {{item.sEmployeeName}}
                    </ng-template>
                  </ng-select>
                </div>
              </div>
            </div>
            <div class="col-sm-8 add-category-btn-container">
              <button type="submit" class="btn btn-primary mr-1"
                [disabled]="bIsAddActive || bIsEditActive">{{sButtonText}}</button>
              <button type="button" class="btn btn-secondary" (click)="fnClear()">Clear</button>
            </div>
          </div>
        </div>
      </div>
    </form>