.tabledata{
    text-align: center;
}
.card-bg{
   background-color: antiquewhite;
}

h4{
  text-align: center;
  margin:10px;
}
.trans-detail{
    color: orange;
}
.status{
    background-color: gold;
    font-weight: bold;
    color: black !important;
}
