
<div class="container-fluid">
    <!-- page title -->
    <app-page-title title="" [breadcrumbItems]="breadCrumbItems" *ngIf='!bHideBreadCrumb'
    bgimageclass="addcategory_header"></app-page-title>
  
    <div class="row">
      <form class="col-12" novalidate #_bankaccountFormElem="ngForm" >
        <div class="card card-bg">
          <div class="card-body">
            <h2>Pass Book Print</h2>
  
             <div class="row">
              <div class="col-sm-12">                
              </div>
              
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="sAccountNo">Account Number : </label>
                  <label>{{opassbookprintmodel.sAccountNo}}</label>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="sCustomerId">Customer ID : </label>                  
                  <label>{{opassbookprintmodel.sCustomerId}}</label>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="sBranchCode">Branch Code : </label>                  
                  <label>{{opassbookprintmodel.sBranchCode}}</label>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="sApplicantName">Customer Name : </label>                  
                  <label>{{opassbookprintmodel.sApplicantName}}</label>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="sAadharNo">Aadhar No : </label>                  
                  <label>{{opassbookprintmodel.sAadharNo}}</label>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="sBranchName">Branch Name : </label>                  
                  <label>{{opassbookprintmodel.sBranchName}}</label>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="sFatherOrHusbandName">Father/Husband Name : </label>                  
                  <label>{{opassbookprintmodel.sFatherOrHusbandName}}</label>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="sMandalAddress">Mandal Level Society Branch Address : </label>                  
                  <label>{{opassbookprintmodel.sMandalAddress}}</label>
                </div>
              </div>
              <div class="col-sm-4">  
                <div class="form-group">
                  <label for="sAddress">Address : </label>                  
                  <label>{{opassbookprintmodel.sAddress}}</label>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="sMobileNumber">Phone No : </label>                  
                  <label>{{opassbookprintmodel.sMobileNumber}}</label>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="sDate">Date Of Issue : </label>                  
                  <label>{{opassbookprintmodel.sDate}}</label>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">                  
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="sEmail">Email : </label>                  
                  <label>{{opassbookprintmodel.sEmail}}</label>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="sAccountType">Type Of Account : </label>                  
                  <label>{{opassbookprintmodel.sAccountType}}</label>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">                  
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>www.suryacoperativesocietylimited.com</label>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">                  
                </div>
              </div>
              
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="sBranchCode">Society Branch Authorised
                    Sign</label>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">                  
                </div>
              </div>
  
              <!-- <div class="col-sm-8 add-category-btn-container">
                <button type="submit" class="btn btn-primary mr-1" [disabled]="bIsAddActive || bIsEditActive"
                >{{sButtonText}}</button>
                <button type="button" class="btn btn-secondary"
                >Clear</button>
                <button type="button" class="btn btn-secondary"
                >Clear</button> -->
              <!-- </div> -->
            </div>
          </div>
        </div>
      </form>
  