.btn-container{
    display: grid;
    justify-items: flex-start;
    align-items: center;
    margin-top: 10px;
}

.passbook-border{
    border: 2px solid grey;
    padding: 1px;
    border-radius: 10px;
}

.account-detail{
    color: black;
    margin-left: 15px;
    font-weight: bold;
} 
.passBookDetailsmargin{
    margin-top: 5px;
}
.passbookfont{
    font-size: 16px;
}
@media print {
    .passbook-heading, .passbook-acc-input{
        display: none!important;
    }
    .passbook-border{
        margin-top: 210px;
    }
    
}
.site{
    font-size: 15px;  
}
.account-label{
    color: black;
    font-weight: bold;
}
.padding-sign{
    margin-bottom: -20px !important;
}