.btn-container{
    display: grid;
    justify-items: flex-start;
    align-items: center;
    margin-top: 10px;
}

.passbook-border{
    border: 2px solid grey;
    padding: 10px;
    border-radius: 10px;
}

.account-detail{
    color: orange;
    margin-left: 15px;
}
.passBookDetailsmargin{
    margin-top: 10px;
}
@media print {
    .passbook-heading, .passbook-acc-input{
        display: none!important;
    }
    .passbook-border{
        margin-top: 190px;
    }
    
}