<div class="container-fluid">
    <!-- page title -->
    <app-page-title title="" [breadcrumbItems]="breadCrumbItems" *ngIf='!bHideBreadCrumb'
    bgimageclass="addcategory_header"></app-page-title>
  
    <div class="row">
      <form class="col-12" novalidate #_bankaccountFormElem="ngForm" 
      (ngSubmit)="fnOnBankAccountInfoSubmit()">
        <div class="card card-bg">
          <div class="card-body">
            <h2>Account Opening Form</h2>
  
            <div class="row">
              <div *ngIf="!bisEditMode" class="col-sm-6">
                <div class="form-group">
                  <label class="control-label">State</label>
                  <ng-select [items]="aState" name="sState"
                      [(ngModel)]="oBankAccountModel.sState" 
                      bindLabel="displayText" bindValue="value">
                      <ng-template ng-label-tmp let-item="item">
                        {{item.displayText}}
                      </ng-template>
                    </ng-select>
  
                </div>
              </div>
              <div *ngIf="!bisEditMode" class="col-sm-6">
                <div class="add-container">
                  <div class="form-group">
                    <label for="sDistrict">District</label>
                    <ng-select [items]="aDistrict" name="sDistrict"
                      [(ngModel)]="oBankAccountModel.nDistrictId" 
                      bindLabel="sDistrictName" bindValue="nDistrictId"
                      (change)="fnFetchMandalInfo($event, oBankAccountModel.nDistrictId)">
                      <ng-template ng-label-tmp let-item="item">
                        {{item.sDistrictName}}
                      </ng-template>
                    </ng-select>
                  </div>
                </div>
              </div>
              <div *ngIf="!bisEditMode" class="col-sm-6">
                <div class="add-container">
                  <div class="form-group">
                    <label for="sMandal">Mandal</label>
                    <ng-select [items]="aMandal" name="sMandal"
                      [(ngModel)]="oBankAccountModel.nMandalId" 
                      bindLabel="sMandalName" bindValue="nMandalId"
                      (change)="fnFetchVillageInfo($event, oBankAccountModel.nMandalId)">
                      <ng-template ng-label-tmp let-item="item">
                        {{item.sMandalName}}
                      </ng-template>
                    </ng-select>
                  </div>
                </div>
              </div>
              <div *ngIf="!bisEditMode" class="col-sm-6">
                <div class="add-container">
                  <div class="form-group">
                    <label for="sVillage">Village</label>
                    <ng-select [items]="aVillage" name="sVillage"
                      [(ngModel)]="oBankAccountModel.nVillageId" 
                      bindLabel="sVillageName" bindValue="nVillageId">
                      <ng-template ng-label-tmp let-item="item">
                        {{item.sVillageName}}
                      </ng-template>
                    </ng-select>
                  </div>
                </div>
              </div>
              
                <div *ngIf="!bisEditMode" class="col-sm-12 justify-content-end">
                  <div class="form-group">
                    <button type="button" class="btn btn-primary mr-1" 
                    [disabled]="bIsAddActive || bIsEditActive" (click)="fnCreateAccountDetails()"
                >Generate Account Details</button>
                  </div>
                </div>
              <div class="col-sm-4">
                <div class="add-container">
                  <div class="form-group">
                    <label for="Branch">Branch Code</label>
                    <input id="Branch" name="sBranchCode" [(ngModel)]="oBankAccountModel.sBranchCode" type="text"
                    class="form-control" disabled>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="nAccountNo">Account Number</label>
                  <input id="nAccountNo" name="nAccountNo" [(ngModel)]="oBankAccountModel.sAccountNo" type="text"
                    class="form-control" disabled>
                </div>
              </div>
               
              <h2 class="col-sm-12">Personal Information</h2>                          
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="Date">Date</label>                  
                  <!-- <input id="Date" name="sDate" [(ngModel)]="oBankAccountModel.sDate" type="date"
                    class="form-control" > -->
                    <input [bsConfig]="{startView: 'month', showWeekNumbers: false,
                          showTodayButton: true, todayPosition: 'center',containerClass: 'theme-orange',
                          dateInputFormat: 'DD-MM-YYYY' }"
                          placeholder="Select Date" bsDatepicker name="sDate"
                      class="form-control"
                       [(ngModel)]="oBankAccountModel.sDate">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="sApplicantName">Applicant's Name</label>                  
                  <input id="sApplicantName" name="sApplicantName" [(ngModel)]="oBankAccountModel.sApplicantName" type="text"
                    class="form-control" >
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="sApplicantSurName">Applicant's Surname</label>                  
                  <input id="sApplicantSurName" name="sApplicantSurName" [(ngModel)]="oBankAccountModel.sApplicantSurName" type="text"
                    class="form-control" >
                </div>
              </div>
              <div class="col-sm-4">
                <label class="font-size-14 mb-3">Gender</label>
              <div class="radio-container">
                <div class="form-check form-group">
                  <input class="form-check-input" type="radio" name="genderRadio" id="genderRadio1" value="Male"
                  [(ngModel)]="oBankAccountModel.sGender">
                  <label class="form-check-label" for="genderRadio1">
                    Male
                  </label>
                </div>
                <div class="form-check form-group">
                  <input class="form-check-input" type="radio" name="genderRadio" id="genderRadio2" value="Female"
                  [(ngModel)]="oBankAccountModel.sGender">
                  <label class="form-check-label" for="genderRadio2">
                    Female
                  </label>
                </div>
              </div>
              </div>
            <div class="col-sm-4">
              <div class="form-group">
              <label for="sDOB">Date Of Birth</label>                
              <input id="sDOB" name="sDOB" [(ngModel)]="oBankAccountModel.sDOB" type="date"
                  class="form-control" >
                  <input [bsConfig]="{startView: 'month', showWeekNumbers: false,
                          showTodayButton: true, todayPosition: 'center',containerClass: 'theme-orange',
                          dateInputFormat: 'DD-MM-YYYY' }"
                          placeholder="Select Date" bsDatepicker name="DobDate"
                      class="form-control"
                       [(ngModel)]="oBankAccountModel.sDOB">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="sAge">Age</label>                  
                <input id="sAge" name="sAge" [(ngModel)]="oBankAccountModel.sAge" type="text"
                  class="form-control" >
              </div>
            </div> 
            <div class="col-sm-3">
              <label class="font-size-14 mb-4">Type Of Account</label>
            <div class="radio-container">
              <div class="form-check form-group">
                <input class="form-check-input" type="radio" name="accounttypeRadio" id="accounttypeRadio1" value="Current"
                [(ngModel)]="oBankAccountModel.sAccountType" >
                <label class="form-check-label" for="accounttypeRadio1">
                  Current 
                </label>
              </div>
              <div class="form-check form-group">
                <input class="form-check-input" type="radio" name="accounttypeRadio" id="accounttypeRadio2" value="Savings"
                [(ngModel)]="oBankAccountModel.sAccountType">
                <label class="form-check-label" for="accounttypeRadio2">
                  Savings 
                </label>
              </div>
            </div>
            </div> 
            
            <div class="col-sm-3">
              <label class="font-size-14 mb-4">Account Category</label>
            <div class="radio-container">
              <div class="form-check form-group">
                <input class="form-check-input" type="radio" name="accountcategoryRadio" id="accountcategoryRadio1" value="Individual"
                [(ngModel)]="oBankAccountModel.sAccountCategory">
                <label class="form-check-label" for="accountcategoryRadio1">
                  Individual 
                </label>
              </div>
              <div class="form-check form-group">
                <input class="form-check-input" type="radio" name="accountcategoryRadio" id="accountcategoryRadio2" value="Joint"
                [(ngModel)]="oBankAccountModel.sAccountCategory">
                <label class="form-check-label" for="accountcategoryRadio2">
                  Joint 
                </label>
              </div>
            </div>
            </div>
            <div class="col-sm-3">
              <label class="font-size-14 mb-4">Types Of Share</label>
            <div class="radio-container">
              <div class="form-check form-group">
                <input class="form-check-input" type="radio" name="shareRadio" id="shareRadio1" value="Single"
                [(ngModel)]="oBankAccountModel.sShareType">
                <label class="form-check-label" for="shareRadio1">
                  Single 
                </label>
              </div>
              <div class="form-check form-group">
                <input class="form-check-input" type="radio" name="shareRadio" id="shareRadio22" value="Double"
                [(ngModel)]="oBankAccountModel.sShareType">
                <label class="form-check-label" for="shareRadio2">
                  Double
                </label>
              </div>
            </div>
            </div>
            <div class="col-sm-3">
              <label class="font-size-14 mb-4">SMS Alert</label>
            <div class="radio-container">
              <div class="form-check form-group">
                <input class="form-check-input" type="radio" name="smsRadio" id="smsRadio1" value="Yes"
                [(ngModel)]="oBankAccountModel.sSMSAlert">
                <label class="form-check-label" for="smsRadio1">
                  YES
                </label>
              </div>
              <div class="form-check form-group">
                <input class="form-check-input" type="radio" name="smsRadio" id="smsRadio2" value="No"
                [(ngModel)]="oBankAccountModel.sSMSAlert">
                <label class="form-check-label" for="smsRadio2">
                  NO
                </label>
              </div>
            </div>
            </div>
            <h2 class="col-sm-12">Family Information</h2> 
            <div class="col-sm-6">
              <div class="form-group">
                <label for="sFatherOrHusbandName">Father/Husband Name</label>                  
                <input id="sFatherOrHusbandName" name="sFatherOrHusbandName" [(ngModel)]="oBankAccountModel.sFatherOrHusbandName" type="text"
                  class="form-control" >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="sMotherName">Mother Name</label>                  
                <input id="sMotherName" name="sMotherName" [(ngModel)]="oBankAccountModel.sMotherName" type="text"
                  class="form-control" >
              </div>
            </div>   
            <div class="col-sm-6">
              <div class="form-group">
                <label for="sNomineeName">Nominee Name</label>                  
                <input id="sNomineeName" name="sNomineeName" [(ngModel)]="oBankAccountModel.sNomineeName" type="text"
                  class="form-control" >
              </div>
            </div>   
            <div class="col-sm-6">
              <div class="form-group">
                <label for="sNomineeRelationship">Nominee Relantionship</label>                  
                <input id="sNomineeRelationship" name="sNomineeRelationship" [(ngModel)]="oBankAccountModel.sNomineeRelationship" type="text"
                  class="form-control" >
              </div>
            </div>   
            <h2 class="col-sm-12">Identity Information</h2>   
            <div class="col-sm-4">
              <div class="form-group">
                <label for="sVoterIdNo">Voter ID Number</label>                  
                <input id="sVoterIdNo" name="sVoterIdNo" [(ngModel)]="oBankAccountModel.sVoterIdNo" type="text"
                  class="form-control" >
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="sAadharNo">Aadhar Number</label>                  
                <input id="sAadharNo" name="sAadharNo" [(ngModel)]="oBankAccountModel.sAadharNo" type="text"
                  class="form-control" >
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="sRationCardNo">Ration Card Number</label>                  
                <input id="sRationCardNo" name="sRationCardNo" [(ngModel)]="oBankAccountModel.sRationCardNo" type="text"
                  class="form-control" >
              </div>
            </div>
            <h2 class="col-sm-12">Address</h2>  
            <div class="col-sm-6">
              <div class="form-group">
                <label for="sFlatNo">House/Flat No</label>                  
                <input id="sFlatNo" name="sFlatNo" [(ngModel)]="oBankAccountModel.sFlatNo" type="text"
                  class="form-control" >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="sStreetName">Street Name</label>                  
                <input id="sStreetName" name="sStreetName" [(ngModel)]="oBankAccountModel.sStreetName" type="text"
                  class="form-control" >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="sVillageAddress">Village Name</label>                  
                <input id="sVillageAddress" name="sVillageAddress" [(ngModel)]="oBankAccountModel.sVillageAddress" type="text"
                  class="form-control" >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="sMandalAddress">Mandal Name</label>                  
                <input id="sMandalAddress" name="sMandalAddress" [(ngModel)]="oBankAccountModel.sMandalAddress" type="text"
                  class="form-control" >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="sDistrictAddress">District Name</label>                  
                <input id="sDistrictAddress" name="sDistrictAddress" [(ngModel)]="oBankAccountModel.sDistrictAddress" type="text"
                  class="form-control" >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="sPinCode">Pin Code</label>                  
                <input id="sPinCode" name="sPinCode" [(ngModel)]="oBankAccountModel.sPinCode" type="number"
                  class="form-control" >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="sMobileNumber">Mobile Number</label>                  
                <input id="sMobileNumber" name="sMobileNumber" [(ngModel)]="oBankAccountModel.sMobileNumber" type="tel"
                  class="form-control" >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="sUserEmail">Email Id</label>                  
                <input id="sUserEmail" name="sUserEmail" [(ngModel)]="oBankAccountModel.sEmail" type="email"
                  class="form-control" >
              </div>
            </div>
            <h2 class="col-sm-12">Amount to be Deposited</h2> 
              <div class="col-sm-6">
                   <div class="form-group">
                   <label for="nAmount">Amount</label>                  
                   <input id="nAmount" name="nAmount" [(ngModel)]="oBankAccountModel.nAmount" type="number"
                    class="form-control" >
                   </div>
              </div>     
              <h2 class="col-sm-12">Documents</h2> 
              
              <div class="col-sm-3">
                <div class="form-group">
                    <dropzone [config]="oDropZoneConfig" class="dropzone" #addcardropzoneElem
                    [message]="'Photo Upload'" (success)="fnonUploadPassportImageSuccess($event)"
                    ></dropzone>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                    <dropzone [config]="oDropZoneConfig" class="dropzone" #addcardropzoneElem
                    [message]="'Signature-1 Upload'"
                    (success)="fnonUploadSignature1ImageSuccess($event)"></dropzone>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                    <dropzone [config]="oDropZoneConfig" class="dropzone" #addcardropzoneElem
                    [message]="'Signature-2 Upload'"
                    (success)="fnonUploadSignature2ImageSuccess($event)"></dropzone>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                    <dropzone [config]="oDropZoneConfig" class="dropzone" #addcardropzoneElem
                    [message]="'Document-1 Upload'"
                    (success)="fnonUploadDocument1ImageSuccess($event)"></dropzone>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                    <dropzone [config]="oDropZoneConfig" class="dropzone" #addcardropzoneElem
                    [message]="'Document-2 Upload'"
                    (success)="fnonUploadDocument2ImageSuccess($event)"></dropzone>
                </div>
              </div>
                                                  
              <div class="col-sm-8 add-category-btn-container">
                <button type="submit" class="btn btn-primary mr-1" [disabled]="bIsAddActive || bIsEditActive"
                >{{sButtonText}}</button>
                <button type="button" class="btn btn-secondary"
                >Clear</button>
              </div>
            </div>
          </div>
        </div>
      </form>
  
      <!-- <div class="card" *ngIf="!bHideCateogryList">
        <div class="card-body">
          <h4 class="card-title">Car List</h4>
          <div class="table-responsive mb-0">
            <table class="table table-centered table-nowrap">
              <thead class="thead-light">
                <tr>
                  <th>S.No</th>
                  <th>Car ID</th>
                  <th>Car Name</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody> -->
                <!-- ngFor="let data of transactions" -->
                <!-- <tr *ngFor="let car of cars;let indexOfelement=index;">
                  <td>{{indexOfelement+1}}</td>
                  <td>{{car.nCarId}}</td>
                  <td>{{car.sCarName}}</td>
                  <td> -->
                    <!-- Button trigger modal -->
                    <!-- <button type="button" class="btn btn-primary btn-sm btn-rounded add-round-btn" ngbtooltip="edit"
                    (click)="openModal(editcategory,indexOfelement)">
                      <i class="bx bx-pencil"></i>
                    </button>
                  </td>
                  <td> -->
                    <!-- Button trigger modal -->
                    <!-- <button type="button" class="btn btn-primary btn-sm btn-rounded add-round-btn" ngbtooltip="delete"
                    (click)="fnDeleteCar(indexOfelement)">
                      <i class="bx bx-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      
    </div>
  </div> -->
  
  <!-- <ng-template #editcategory role="document" let-modal>
    <div class="modal-header">
      <h5 class="modal-title mt-0">Edit Car</h5>
      <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
    </div>
    <div class="modal-body">
      <app-addcar bHideBreadCrumb='true'
      [bisEditMode]="true"
      bHideCateogryList='true'
      [oEditCar]='cars[nSelectedEditIndex]'
      (updateClicked)="fnUpdateParentAfterEdit()"></app-addcar>
  
    </div>
  </ng-template> -->
  