<div class="container-fluid">
    <!-- page title -->
    <app-page-title title="" [breadcrumbItems]="breadCrumbItems" *ngIf='!bHideBreadCrumb'
    bgimageclass="addcategory_header"></app-page-title>
  
    <div class="row">
      <form class="col-12" novalidate #_carFormElem="ngForm" (ngSubmit)="fnOnCarInfoSubmit()">
        <div class="card card-bg">
          <div class="card-body">
            <h2 >Account Opening Form</h2>
  
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="control-label">State</label>
                  <ng-select [items]="aCarTypes" name="sCarType"
                      [(ngModel)]="oCarModel.sCarType" 
                      bindLabel="displayText" bindValue="value">
                      <ng-template ng-label-tmp let-item="item">
                        {{item.displayText}}
                      </ng-template>
                    </ng-select>
  
                </div>
              </div>
              <div class="col-sm-6">
                <div class="add-container">
                  <div class="form-group">
                    <label for="sDistrict">District</label>
                    <ng-select [items]="aDistrict" name="sDistrict"
                      [(ngModel)]="oCarModel.sCarType" 
                      bindLabel="displayText" bindValue="value">
                      <ng-template ng-label-tmp let-item="item">
                        {{item.displayText}}
                      </ng-template>
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="add-container">
                  <div class="form-group">
                    <label for="sDistrict"> Mandal</label>
                    <ng-select [items]="aMandal" name="sMandal"
                      [(ngModel)]="oCarModel.sCarSeating" 
                      bindLabel="displayText" bindValue="value">
                      <ng-template ng-label-tmp let-item="item">
                        {{item.displayText}}
                      </ng-template>
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="add-container">
                  <div class="form-group">
                    <label for="sDistrict"> Village</label>
                    <ng-select [items]="aVillage" name="sVillage"
                      [(ngModel)]="oCarModel.sCarSeating" 
                      bindLabel="displayText" bindValue="value">
                      <ng-template ng-label-tmp let-item="item">
                        {{item.displayText}}
                      </ng-template>
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="add-container">
                  <div class="form-group">
                    <label for="manufacturer">Branch Code</label>
                    <input id="carrent" name="sCarRent" [(ngModel)]="oCarModel.sCarRent" type="text"
                    class="form-control" >
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="sCarRent">Account Number</label>
                  <input id="carrent" name="sCarRent" [(ngModel)]="oCarModel.sCarRent" type="number"
                    class="form-control" >
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="sCarDistanceCost">Customer ID</label>
                  <input id="sCarDistanceCost" name="sCarDistanceCost" [(ngModel)]="oCarModel.sCarDistanceCost" type="number"
                    class="form-control" >
                </div>
              </div>  
              <h2 class="col-sm-12">Personal Information</h2>                          
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="sCarTimeCost">Date</label>                  
                  <input id="sCarDistanceCost" name="sCarDistanceCost" [(ngModel)]="oCarModel.sCarDistanceCost" type="number"
                    class="form-control" >
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="sCarTimeCost">Applicant's Name</label>                  
                  <input id="sCarDistanceCost" name="sCarDistanceCost" [(ngModel)]="oCarModel.sCarDistanceCost" type="number"
                    class="form-control" >
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="sCarTimeCost">Applicant's Surname</label>                  
                  <input id="sCarDistanceCost" name="sCarDistanceCost" [(ngModel)]="oCarModel.sCarDistanceCost" type="number"
                    class="form-control" >
                </div>
              </div>
              <div class="col-sm-4">
                <label class="font-size-14 mb-3">Gender</label>
              <div class="radio-container">
                <div class="form-check form-group">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                    checked>
                  <label class="form-check-label" for="exampleRadios1">
                    Male
                  </label>
                </div>
                <div class="form-check form-group">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                  <label class="form-check-label" for="exampleRadios2">
                    Female
                  </label>
                </div>
              </div>
              </div>
            <div class="col-sm-4">
              <div class="form-group">
              <label for="sCarTimeCost">Date Of Birth</label>                
              <input id="sCarDistanceCost" name="sCarDistanceCost" [(ngModel)]="oCarModel.sCarDistanceCost" type="date"
                  class="form-control" >
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="sCarTimeCost">Age</label>                  
                <input id="sCarDistanceCost" name="sCarDistanceCost" [(ngModel)]="oCarModel.sCarDistanceCost" type="number"
                  class="form-control" >
              </div>
            </div> 
            <div class="col-sm-3">
              <label class="font-size-14 mb-4">Type Of Account</label>
            <div class="radio-container">
              <div class="form-check form-group">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                  >
                <label class="form-check-label" for="exampleRadios1">
                  Current 
                </label>
              </div>
              <div class="form-check form-group">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                  Savings 
                </label>
              </div>
            </div>
            </div> 
            
            <div class="col-sm-3">
              <label class="font-size-14 mb-4">Account Category</label>
            <div class="radio-container">
              <div class="form-check form-group">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                  checked>
                <label class="form-check-label" for="exampleRadios1">
                  Individual 
                </label>
              </div>
              <div class="form-check form-group">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                  Joint 
                </label>
              </div>
            </div>
            </div>
            <div class="col-sm-3">
              <label class="font-size-14 mb-4">Types Of Share</label>
            <div class="radio-container">
              <div class="form-check form-group">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                  checked>
                <label class="form-check-label" for="exampleRadios1">
                  Single 
                </label>
              </div>
              <div class="form-check form-group">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                  Double
                </label>
              </div>
            </div>
            </div>
            <div class="col-sm-3">
              <label class="font-size-14 mb-4">SMS Alert</label>
            <div class="radio-container">
              <div class="form-check form-group">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                  >
                <label class="form-check-label" for="exampleRadios1">
                  YES
                </label>
              </div>
              <div class="form-check form-group">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                  NO
                </label>
              </div>
            </div>
            </div>
            <h2 class="col-sm-12">Family Information</h2> 
            <div class="col-sm-6">
              <div class="form-group">
                <label for="sCarTimeCost">Father/Husband Name</label>                  
                <input id="sCarDistanceCost" name="sCarDistanceCost" [(ngModel)]="oCarModel.sCarDistanceCost" type="number"
                  class="form-control" >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="sCarTimeCost">Mother Name</label>                  
                <input id="sCarDistanceCost" name="sCarDistanceCost" [(ngModel)]="oCarModel.sCarDistanceCost" type="number"
                  class="form-control" >
              </div>
            </div>   
            <div class="col-sm-6">
              <div class="form-group">
                <label for="sCarTimeCost">Nominee Name</label>                  
                <input id="sCarDistanceCost" name="sCarDistanceCost" [(ngModel)]="oCarModel.sCarDistanceCost" type="number"
                  class="form-control" >
              </div>
            </div>   
            <div class="col-sm-6">
              <div class="form-group">
                <label for="sCarTimeCost">Nominee Relantionship</label>                  
                <input id="sCarDistanceCost" name="sCarDistanceCost" [(ngModel)]="oCarModel.sCarDistanceCost" type="number"
                  class="form-control" >
              </div>
            </div>   
            <h2 class="col-sm-12">Identity Information</h2>   
            <div class="col-sm-4">
              <div class="form-group">
                <label for="sCarTimeCost">Voter ID Number</label>                  
                <input id="sCarDistanceCost" name="sCarDistanceCost" [(ngModel)]="oCarModel.sCarDistanceCost" type="number"
                  class="form-control" >
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="sCarTimeCost">Aadhar Number</label>                  
                <input id="sCarDistanceCost" name="sCarDistanceCost" [(ngModel)]="oCarModel.sCarDistanceCost" type="number"
                  class="form-control" >
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="sCarTimeCost">Ration Card Number</label>                  
                <input id="sCarDistanceCost" name="sCarDistanceCost" [(ngModel)]="oCarModel.sCarDistanceCost" type="number"
                  class="form-control" >
              </div>
            </div>
            <h2 class="col-sm-12">Address</h2>  
            <div class="col-sm-6">
              <div class="form-group">
                <label for="sCarTimeCost">House/Flat No</label>                  
                <input id="sCarDistanceCost" name="sCarDistanceCost" [(ngModel)]="oCarModel.sCarDistanceCost" type="number"
                  class="form-control" >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="sCarTimeCost">Street Name</label>                  
                <input id="sCarDistanceCost" name="sCarDistanceCost" [(ngModel)]="oCarModel.sCarDistanceCost" type="number"
                  class="form-control" >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="sCarTimeCost">Village Name</label>                  
                <input id="sCarDistanceCost" name="sCarDistanceCost" [(ngModel)]="oCarModel.sCarDistanceCost" type="number"
                  class="form-control" >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="sCarTimeCost">Mandal Name</label>                  
                <input id="sCarDistanceCost" name="sCarDistanceCost" [(ngModel)]="oCarModel.sCarDistanceCost" type="number"
                  class="form-control" >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="sCarTimeCost">District Name</label>                  
                <input id="sCarDistanceCost" name="sCarDistanceCost" [(ngModel)]="oCarModel.sCarDistanceCost" type="number"
                  class="form-control" >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="sCarTimeCost">Pin Code</label>                  
                <input id="sCarDistanceCost" name="sCarDistanceCost" [(ngModel)]="oCarModel.sCarDistanceCost" type="number"
                  class="form-control" >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="sCarTimeCost">Mobile Number</label>                  
                <input id="sCarDistanceCost" name="sCarDistanceCost" [(ngModel)]="oCarModel.sCarDistanceCost" type="number"
                  class="form-control" >
              </div>
            </div>
            
            <h2 class="col-sm-12">Amount to be Deposited</h2> 
              <div class="col-sm-6">
                   <div class="form-group">
                   <label for="sCarTimeCost">Amount</label>                  
                   <input id="sCarDistanceCost" name="sCarDistanceCost" [(ngModel)]="oCarModel.sCarDistanceCost" type="number"
                    class="form-control" >
                   </div>
              </div>     
              <h2 class="col-sm-12">Documents</h2> 
              
              <div class="col-sm-12">
                <div class="form-group">
                    <dropzone [config]="oDropZoneConfig" class="dropzone" #addcardropzoneElem
                    [message]="'Photo Upload'"
                    ></dropzone>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                    <dropzone [config]="oDropZoneConfig" class="dropzone" #addcardropzoneElem
                    [message]="'Signature-1 Upload'"
                    ></dropzone>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                    <dropzone [config]="oDropZoneConfig" class="dropzone" #addcardropzoneElem
                    [message]="'Signature-2 Upload'"
                    ></dropzone>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                    <dropzone [config]="oDropZoneConfig" class="dropzone" #addcardropzoneElem
                    [message]="'Document-1 Upload'"
                    ></dropzone>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                    <dropzone [config]="oDropZoneConfig" class="dropzone" #addcardropzoneElem
                    [message]="'Document-2 Upload'"
                    ></dropzone>
                </div>
              </div>
                                                  
              <div class="col-sm-8 add-category-btn-container">
                <button type="submit" class="btn btn-primary mr-1" [disabled]="bIsAddActive || bIsEditActive"
                >{{sButtonText}}</button>
                <button type="button" class="btn btn-secondary"
                (click)="fnResetCarName()">Clear</button>
              </div>
            </div>
          </div>
        </div>
      </form>
  
      <!-- <div class="card" *ngIf="!bHideCateogryList">
        <div class="card-body">
          <h4 class="card-title">Car List</h4>
          <div class="table-responsive mb-0">
            <table class="table table-centered table-nowrap">
              <thead class="thead-light">
                <tr>
                  <th>S.No</th>
                  <th>Car ID</th>
                  <th>Car Name</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody> -->
                <!-- ngFor="let data of transactions" -->
                <!-- <tr *ngFor="let car of cars;let indexOfelement=index;">
                  <td>{{indexOfelement+1}}</td>
                  <td>{{car.nCarId}}</td>
                  <td>{{car.sCarName}}</td>
                  <td> -->
                    <!-- Button trigger modal -->
                    <!-- <button type="button" class="btn btn-primary btn-sm btn-rounded add-round-btn" ngbtooltip="edit"
                    (click)="openModal(editcategory,indexOfelement)">
                      <i class="bx bx-pencil"></i>
                    </button>
                  </td>
                  <td> -->
                    <!-- Button trigger modal -->
                    <!-- <button type="button" class="btn btn-primary btn-sm btn-rounded add-round-btn" ngbtooltip="delete"
                    (click)="fnDeleteCar(indexOfelement)">
                      <i class="bx bx-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      
    </div>
  </div> -->
  
  <ng-template #editcategory role="document" let-modal>
    <div class="modal-header">
      <h5 class="modal-title mt-0">Edit Car</h5>
      <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
    </div>
    <div class="modal-body">
      <app-addcar bHideBreadCrumb='true'
      [bisEditMode]="true"
      bHideCateogryList='true'
      [oEditCar]='cars[nSelectedEditIndex]'
      (updateClicked)="fnUpdateParentAfterEdit()"></app-addcar>
  
    </div>
  </ng-template>
  