<div class="container-fluid">
    <!-- page title -->
    <app-page-title title="All Bank Accounts" [breadcrumbItems]="breadCrumbItems" *ngIf='!bHideBreadCrumb'
    bgimageclass="addcategory_header"></app-page-title>
  
    <div class="row">
      <form class="col-sm-12" novalidate #_categoryFormElem="ngForm" >
        <div class="card card-bg">
          <div class="card-body">
            <h2 >All Bank Accounts</h2>
            

                  <div class="row mb-md-2">
                    <div class="col-sm-12 col-md-6">
                      <div class="dataTables_length" id="tickets-table_length"><label
                          class="d-inline-flex align-items-center">Show
                          <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
                            [(ngModel)]="service.pageSize" class="form-control form-control-sm mx-2">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                          </select> entries</label></div>
                    </div>
                    <!-- Search -->
                    <div class="col-sm-12 col-md-6">
                      <div id="tickets-table_filter" class="dataTables_filter text-md-right"><label
                          class="d-inline-flex align-items-center">Search:
                          <input type="text" name="searchTerm" class="form-control form-control-sm ml-2"
                            aria-controls="tickets-table" [(ngModel)]="service.searchTerm"></label></div>
                    </div>
                    <!-- End search -->
                  </div>
                  <div class="table-responsive">
                    <table id="basic-datatable"
                      class="table table-bordered dt-responsive nowrap datatables no-footer dtr-inline">
                      <thead>
                        <tr>
                          
                          <th sortable="sAccountNo" (sort)="onSort($event)">Account No</th>
                          <th sortable="sBranchCode" (sort)="onSort($event)">Branch Code</th>
                          <th sortable="sCustomerId" (sort)="onSort($event)">Customer Id</th>
                          <th sortable="sApplicantName" (sort)="onSort($event)">Name</th>
                          <th sortable="date" (sort)="onSort($event)">Created date</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let table of tables$ | async;let i=index">
                        <tr>
                          
                          <td>
                            <ngb-highlight [result]="table.sAccountNo" [term]="service.searchTerm"></ngb-highlight>
                          </td>
                          <td>
                            <ngb-highlight [result]="table.sBranchCode" [term]="service.searchTerm"></ngb-highlight>
                          </td>
                          <td>
                            <ngb-highlight [result]="table.sCustomerId" [term]="service.searchTerm"></ngb-highlight>
                          </td>
                          <td>
                            <ngb-highlight [result]="table.sApplicantName" [term]="service.searchTerm"></ngb-highlight>
                          </td>
                          
                          <td>
                            <ngb-highlight [result]="table.createdAt" [term]="service.searchTerm"></ngb-highlight>
                          </td>
                          
                          <td>
                            <div ngbDropdown placement="bottom-left">
                              <i class="mdi mdi-dots-vertical dropdown-toggle" ngbDropdownToggle data-toggle="dropdown"
                                aria-expanded="true"></i>
                              <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                                <a class="dropdown-item" href="javascript: void(0);"><i class="mdi mdi-plus"></i>Add</a>
                                <a class="dropdown-item" href="javascript: void(0);"><i
                                    class="mdi mdi-account-edit"></i>Edit</a>
                              </div>
                            </div>
                          </td>
                        </tr>
        
                        
                      </tbody>
                    </table>
                  </div>
          </div>
        </div>
      </form>
  
      
    </div>
  </div>
  
  
  