
<div class="container-fluid">
    <!-- page title -->
    <app-page-title title="" [breadcrumbItems]="breadCrumbItems" *ngIf='!bHideBreadCrumb'
    bgimageclass="addcategory_header"></app-page-title>

    <app-bank-account-data [headerText]='sCaption' 
    (accountDataClicked)="fnGetCreditLoans($event)"></app-bank-account-data>

    <div class="row">
      <form class="col-12" novalidate #_DebitFormElem="ngForm" (ngSubmit)="fnOnDebitInfoSubmit()">
        <div class="col-12">
        <div class="card card-bg">
          <div class="card-body">
            <h2>Select Loan</h2>
  
             <div class="row">
              
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="sReceiverName">Select Loan</label>
                  <ng-select [items]="aCreditLoan" name="nLoanId"
                    [(ngModel)]="oDebitModel.nLoanId" 
                    bindLabel="sTypeofLoan" bindValue="nLoanId">
                    <ng-template ng-label-tmp let-item="item">
                      {{item.sTypeofLoan}}
                    </ng-template>
                  </ng-select>
                </div>
              </div>  
              <div class="col-sm-6 btn-container">
                <button type="button" class="btn btn-primary mr-1" 
                 
                (click)="fnFecthLoanData()">
                Get Loan Details</button>
                
              </div>
               
            </div>
          </div>
        </div>
      </div>
        <div class="col-12"  *ngIf="bShowLoanData">
          <div class="card card-bg" >
            <div class="card-body">
               
              <ngb-accordion #acc="ngbAccordion" activeIds="static-1" [closeOthers]="true">
                <ngb-panel id="static-1">
                  <ng-template ngbPanelTitle class="text-black">
                    <h2>{{aCreditLoan[nActiveLoanIndex].sTypeofLoan}} - {{aCreditLoan[nActiveLoanIndex].nSanctionAmount}}</h2>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <div class="row">
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label for="sDate">Loan Issue Date:</label>
                          <label class="account-detail">{{aCreditLoan[nActiveLoanIndex].sDate}}</label>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label for="sTypeofLoan">Type of Loan:</label>
                          <label class="account-detail">{{aCreditLoan[nActiveLoanIndex].sTypeofLoan}}</label>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label for="nSanctionAmount">Sanction Amount:</label>
                          <label class="account-detail">{{aCreditLoan[nActiveLoanIndex].nSanctionAmount}}</label>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label for="nIntrest">Intrest:</label>
                          <label class="account-detail">{{aCreditLoan[nActiveLoanIndex].nIntrest}}</label>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label for="nTotalAmount">Total Amount:</label>
                          <label class="account-detail">{{aCreditLoan[nActiveLoanIndex].nTotalAmount}}</label>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label for="sInstallmentType">Installment Types:</label>
                          <label class="account-detail">{{aCreditLoan[nActiveLoanIndex].sInstallmentType}}</label>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label for="nLoanRepaymentPeriod">Loan Repayment Period:</label>
                          <label class="account-detail">{{aCreditLoan[nActiveLoanIndex].nLoanRepaymentPeriod}}</label>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label for="nInstallmentAmount">Installment Amount:</label>
                          <label class="account-detail">{{aCreditLoan[nActiveLoanIndex].nInstallmentAmount}}</label>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label for="sEndofLoanDate">End of the Loan:</label>
                          <label class="account-detail">{{aCreditLoan[nActiveLoanIndex].sEndofLoanDate}}</label>
                        </div>
                      </div>
                    </div>
                    <app-account-ledger-table [aTransactions]='aCreditLoan[nActiveLoanIndex].oTransactionInfo'></app-account-ledger-table>
                  </ng-template>
                </ngb-panel>
                
              </ngb-accordion>

              <h2>{{sCaption}} - Transaction</h2>
              <div class="row">
              
                
                <div class="col-sm-6" *ngIf="!bIsCredit">
                  <div class="form-group">
                    <label for="nAmount">Amount</label>                  
                    <input id="nAmount" name="nAmount" [(ngModel)]="oDebitModel.nAmount" type="number"
                      class="form-control" >
                  </div>
                </div>

                <div class="col-sm-6"  *ngIf="bIsCredit">
                  <div class="form-group">
                    <label for="nAmount">Amount</label>                  
                    <input id="nAmount" name="nAmount" [(ngModel)]="oDebitModel.nAmount" type="number"
                      class="form-control" >
                  </div>
                </div>
                
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="sNarration">Narration</label>                  
                    <input id="sNarration" name="sNarration" [(ngModel)]="oDebitModel.sNarration" type="text"
                      class="form-control" >
                  </div>
                </div>
                 
                
                
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="sReceiverName">Received Employee</label>
                    <ng-select [items]="aUsers" name="sReceiverName"
                      [(ngModel)]="oDebitModel.sReceiverName" 
                      bindLabel="sEmployeeName" bindValue="sEmployeeName">
                      <ng-template ng-label-tmp let-item="item">
                        {{item.sEmployeeName}}
                      </ng-template>
                    </ng-select>
                  </div>
                </div>             
  
                <div class="col-sm-8 add-category-btn-container">
                  <button type="submit" class="btn btn-primary mr-1" [disabled]="bIsAddActive || bIsEditActive"
                  >{{sButtonText}}</button>
                  <button type="button" class="btn btn-secondary"
                  >Clear</button>
                  <!-- <button type="button" class="btn btn-secondary"
                  >Clear</button> -->
                </div>
              </div>
            </div>
          </div>
        </div>

        
      </form>
      </div>
      </div>
