
<div class="container-fluid">
    <!-- page title -->
    <app-page-title title="" [breadcrumbItems]="breadCrumbItems" *ngIf='!bHideBreadCrumb'
    bgimageclass="addcategory_header"></app-page-title>
  
    <div class="row">
      <form class="col-12" novalidate #_DebitFormElem="ngForm" (ngSubmit)="fnOnDebitInfoSubmit()">
        <div class="card card-bg">
          <div class="card-body">
            <h2>Debit</h2>
  
             <div class="row">
              <div class="col-sm-12">                
              </div>
              
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="nAmount">Amount</label>                  
                  <input id="nAmount" name="nAmount" [(ngModel)]="oDebitModel.nAmount" type="number"
                    class="form-control" >
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="sDate">Date</label>                  
                  <input id="sDate" name="sDate" [(ngModel)]="oDebitModel.sDate" type="date"
                    class="form-control" >
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="sNarration">Narration</label>                  
                  <input id="sNarration" name="sNarration" [(ngModel)]="oDebitModel.sNarration" type="text"
                    class="form-control" >
                </div>
              </div>
               
              
              <div class="col-sm-12">
                <div class="add-container">
                  <div class="form-group">
                    <label for="sTransactionId">Transaction ID</label>
                    <input id="TransactionId" name="sTransactionId" [(ngModel)]="oDebitModel.sTransactionId" type="text"
                    class="form-control" >
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="sReceiverName">Received Employee</label>
                  <ng-select [items]="aLoanIssueEmployee" name="sReceiverName"
                    [(ngModel)]="oDebitModel.sReceiverName" 
                    bindLabel="displayText" bindValue="value">
                    <ng-template ng-label-tmp let-item="item">
                      {{item.displayText}}
                    </ng-template>
                  </ng-select>
                </div>
              </div>             

              <div class="col-sm-8 add-category-btn-container">
                <button type="submit" class="btn btn-primary mr-1" [disabled]="bIsAddActive || bIsEditActive"
                >{{sButtonText}}</button>
                <button type="button" class="btn btn-secondary"
                >Clear</button>
                <!-- <button type="button" class="btn btn-secondary"
                >Clear</button> -->
              </div>
            </div>
          </div>
        </div>
      </form>
