<div class="container-fluid">
    <div class="row">
        <div class="card card-bg">
            <div class="card-body">
                <div class="row col-sm-12">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <!--img-container-->
                            <table class="col-sm-6 text-center">
                                <thead>
                                    <tr>
                                        <th><label for="sPassportPhoto" class="image-properties">Photo</label></th>
                                        <th><label for="sAadhaar" class="image-properties">Aadhaar</label></th>
                                        <th><label for="sCallLetter" class="image-properties">CallLetter</label></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> <img src="{{sImageRootPath + oBankEmployeeModel.oEmployeePhotoUpload?.sImageURL}}"
                                                class="photoWidth" /></td>
                                        <td><img src="{{sImageRootPath + oBankEmployeeModel.oAadharUpload?.sImageURL}}"
                                                class="photoWidth" /></td>
                                        <td><img src="{{sImageRootPath + oBankEmployeeModel.oCallLetterUpload?.sImageURL}}"
                                                class="photoWidth" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                    </div>

                    <div class="col-sm-6">
                        <div class="add-container">
                            <div class="form-group">
                                <label for="sEmployeeName" class="properties">EmployeeName :</label>
                                <label for="">{{oBankEmployeeModel.sEmployeeName}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nEmployeeID" class="properties">EmployeeID :</label>
                            <label for="">{{oBankEmployeeModel.nEmployeeID}}</label>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="sEmployeeCallLetterID" class="properties">EmployeeCallletterID :</label>
                            <label for="">{{oBankEmployeeModel.sEmployeeCallLetterID}}</label>
                        </div>
                    </div>
                    

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="sCallLetterIssuedDate" class="properties">CallLetterIssued Date :</label>
                            <label for="">{{oBankEmployeeModel.sCallLetterIssuedDate}}</label>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="add-container">
                            <div class="form-group">
                                <label for="sJoiningDate" class="properties">Joining Date :</label>
                                <label for="">{{oBankEmployeeModel.sJoiningDate}}</label>
                            </div>
                        </div>
                    </div>

                    
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="sFatherOrHusbandName" class="properties">Father/Husband Name :</label>
                            <label for="">{{oBankEmployeeModel.sFatherOrHusbandName}}</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="sMotherName" class="properties">Mother Name :</label>
                            <label for="">{{oBankEmployeeModel.sMotherName}}</label>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="sMobileNumber" class="properties">Mobile No :</label>
                            <label for="">{{oBankEmployeeModel.sMobileNumber}}</label>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="sAadharNo" class="properties">Aadhar No :</label>
                            <label for="">{{oBankEmployeeModel.sAadharNo}}</label>
                        </div>
                    </div>
                   
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="sNationality" class="properties">Nationality :</label>
                            <label for="">{{oBankEmployeeModel.sNationality}}</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="sReligion" class="properties">Religion :</label>
                            <label for="">{{oBankEmployeeModel.sReligion}}</label>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="sSpeakLanguage" class="properties">Speak Language :</label>
                            <label for="">{{oBankEmployeeModel.sSpeakLanguage}}</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="font-size-14 mb-3" class="properties">Appointment Type :</label>
                        <label for="">{{oBankEmployeeModel.sAppointmentType}}</label>
                    </div>
                    <div class="col-sm-6">
                        <div class="add-container">
                            <div class="form-group">
                                <label for="sDesignation" class="properties">Designation :</label>
                                <label for="">{{sDesignation}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="sAccountNo" class="properties">Employee AccountNo :</label>
                            <label for="">{{oBankEmployeeModel.sAccountNo}}</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="sIFSCCode" class="properties">IFSC Code :</label>
                            <label for="">{{oBankEmployeeModel.sIFSCCode}}</label>
                        </div>
                    </div>                    
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="sBranchName" class="properties">Name of the branch :</label>
                            <label for="">{{  oBankEmployeeModel.sBranchName}}</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="sPlace" class="properties">Place of the branch :</label>
                            <label for="">{{ oBankEmployeeModel.sPlace}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>