<div class="container-fluid">
    <!-- page title -->
    <app-page-title title="Welcome" bgimageclass="addcategory_header"></app-page-title>
    <!-- *ngIf="manager" *ngIf='!bHideBreadCrumb' [breadcrumbItems]="breadCrumbItems" -->
    <h1 class="welcomeheader" *ngIf="!employee">Welcome Manager</h1>
    <div class="row mastercard" *ngIf="!employee">
        <div *ngFor="let option of aOption" class="">
            <app-message-card [option]="option"></app-message-card>
       </div>
    </div>
    <h1 class="welcomeheader" *ngIf="employee">Welcome Employee</h1>
    <div class="row mastercard" *ngIf="employee">
       <div *ngFor="let option of aOption" class="">
            <app-message-card [option]="option"></app-message-card>
       </div>
    </div>