<div class="container-fluid">
  <!-- page title -->
  <app-page-title title="Add Configuration Value" [breadcrumbItems]="breadCrumbItems" *ngIf='!bHideBreadCrumb'>
  </app-page-title>

  <div class="row">
    <form novalidate #_configurationvalueFormElem="ngForm" (ngSubmit)="fnOnConfigurationvalueInfoSubmit()">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Configuration Value Information</h4>
          <div class='row'>
            <div class="col-sm-6">
              <div class="form-group" [ngClass]="bisEditMode ? 'disable-category':''">
                <label class="control-label">Select Configuration Type</label>
                <ng-select [items]="aConfigtypes" [(ngModel)]="oConfigurationvalueModel.nConfigurationtypeId" name="nConfigurationtypeId"
                  bindLabel="sConfigurationtypeName" bindValue="nConfigurationtypeId" aria-disabled={bisEditMode}>
                  <ng-template ng-label-tmp let-item="item">
                    {{item.sConfigurationtypeName}}
                  </ng-template>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="configurationvalue">Name</label>
                <input id="configurationvalue" [(ngModel)]="oConfigurationvalueModel.sConfigurationvalueName"
                name="sConfigurationvalueName"
                type="text" class="form-control">
              </div>
            </div>
            <div class="col-sm-6 add-category-btn-container">
              <button type="submit" class="btn btn-primary mr-1" [disabled]="bIsAddActive || bIsEditActive"
              >{{sButtonText}}</button>
              <button type="button" class="btn btn-secondary" (click)="fnResetConfigurationvalueName()">Clear</button>
            </div>

          </div>
        </div>
      </div>
    </form>
    <div class="card" *ngIf="!bHideConfigurationvalueList">
      <div class="card-body">
        <h4 class="card-title">Configuration Type List</h4>
        <div class="table-responsive mb-0">
          <table class="table table-centered table-nowrap">
            <thead class="thead-light">
              <tr>
                <th></th>
                <th>S.No</th>
                <th>Configuration Type ID</th>
                <th>Configuration Type Name</th>
              </tr>
            </thead>
            <tbody *ngFor="let configtype of aConfigtypes;let indexOfelement=index;">
              <!-- ngFor="let data of transactions" -->
              <tr>
                <td align="center">
                  <a class="expand-row" (click)="changeValue(indexOfelement)">
                    <i class="bx "
                      [ngClass]="!hideme[indexOfelement] ? 'bxs-caret-up-circle' : 'bxs-caret-down-circle'"></i>
                  </a>
                </td>
                <td>{{indexOfelement+1}}</td>
                <td>{{configtype.nConfigurationtypeId}}</td>
                <td>{{configtype.sConfigurationtypeName}}</td>
              </tr>
              <tr *ngIf="!hideme[indexOfelement]" class="sub-table no-bg">
                <td align="center"> </td>
                <td colspan="15" class="p-0">
                  <table class="table table-centered table-nowrap">
                    <thead class="thead-light">
                      <tr>
                        <th>S.No</th>
                        <th>Configuration type ID</th>
                        <th>Configuration type Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let configval of configtype.aConfigurationvaluesInfo; let i = index">
                        <td>{{i}}</td>
                        <td>{{configval.nConfigurationvalueId}}</td>
                        <td>{{configval.sConfigurationvalueName}}</td>
                        <td>
                          <!-- Button trigger modal -->
                          <button type="button" class="btn btn-primary btn-sm btn-rounded add-round-btn" ngbtooltip="edit"
                          (click)="openModal(editconfigurationvalue,indexOfelement,i)">
                            <i class="bx bx-pencil"></i>
                          </button>
                        </td>
                        <td>
                          <!-- Button trigger modal -->
                          <button type="button" class="btn btn-primary btn-sm btn-rounded add-round-btn"
                            ngbtooltip="delete" (click)="fnDeleteConfigurationvalue(indexOfelement,i)">
                            <i class="bx bx-trash-alt"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #editconfigurationvalue role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Edit Configurationvalue</h5>
    <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
  </div>
  <div class="modal-body">
    <app-addconfigurationvalue bHideBreadCrumb='true'
    [bisEditMode]="true"
    bHideConfigurationvalueList='true'
    [aEditConfigurationtypes]='aConfigtypes'
    [oEditConfigurationvalue]='aConfigtypes[nSelectedConfigurationtypeEditIndex].aConfigurationvaluesInfo[nSelectedConfigurationvalueEditIndex]'
    (updateClicked)="fnUpdateParentAfterEdit()"></app-addconfigurationvalue>

  </div>
</ng-template>
