<div class="container-fluid">
    <app-page-title title="" [breadcrumbItems]="breadCrumbItems" 
        bgimageclass="addcategory_header"></app-page-title>
    <app-bank-account-data headerText="Account Balance Enquiry"></app-bank-account-data>
    <div class="row">
        <div class="col-sm-2">
          <div class="form-group">
            <label for="sBranchCode">Date</label> 
          </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
              <label for="sBranchCode">Account Number</label>                  
            </div>
          </div> 
          
        <div class="col-sm-1">
          <div class="form-group">
            <label for="sAccountNo">Credit</label>                  
             </div>
        </div>
        <div class="col-sm-1">
          <div class="form-group">
            <label for="sBranchCode">Debit</label>                  
          </div>
        </div>
        <div class="col-sm-1">
          <div class="form-group">
              <label for="sBranchCode">Balance Amount</label>  
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label for="sBranchCode">Transaction ID</label>                  
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label for="sBranchCode">Narration</label>                  
          </div>
        </div>      
      </div>
    </div>