<div class="container-fluid">
  <app-page-title title="" [breadcrumbItems]="breadCrumbItems" bgimageclass="addcategory_header"></app-page-title>
  <div class="card card-bg">
    <div class="card-body">
      <h2 class="passbook-heading">Balance Enquiry</h2>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label class="control-label">Account Number</label>
            <ng-select [items]="aBankAccounts" name="accountno" [(ngModel)]="sSelectedAccount" bindLabel="sAccountNo"
              bindValue="sAccountNo" (change)="fnGetAccountNumber()">
              <ng-template ng-label-tmp let-item="item">
                {{item.sAccountNo}}
              </ng-template>
            </ng-select>
          </div>
        </div>
        <div class="col-sm-5 btn-container">
          <button type="button" class="btn btn-primary mr-1" [disabled]="!bIsBtnActive"
            (click)="fnFecthAccountBalance()">
            Show Account Balance</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="bShowBalance" class="col-sm-12 balance">
    <h2>Balance</h2>
    <p class="account-balance" *ngIf="nAccountBalance >= 0">Rs/- {{this.nAccountBalance}}</p>
  </div>