.trans-detail{
    color: orange;
}
.btn-container{
    display: grid;
    justify-items: flex-start;
    align-items: center;
    margin-top: 10px;
}
.card-bg{
    background-color: antiquewhite;
}
.balance{
    text-align: center;
    margin-top: 50px;
}
.account-balance{
    color: orange;
    font-weight: bold;
    font-size: 24px;
    margin-left: 15px;
}
.loan-name{
    color :black ;
    font-weight: bold;
    font-size: 24px;
}