.trans-detail{
    color: orange;
}
.btn-container{
    display: grid;
    justify-items: flex-start;
    align-items: center;
    margin-top: 10px;
}
.card-bg{
    background-color: antiquewhite;
}
.balance{
    // text-align: center;
    margin-top: 50px;
    padding-left: 5px;
}
.sbalance{
    margin-top: 10px;
    padding-left: 10px;
}
.account-balance{
    color: orange;
    font-weight: bold;
    font-size: 23px;
    margin-left: 15px;
}
