
<div class="container-fluid">
  <!-- page title -->
  <app-page-title title="" [breadcrumbItems]="breadCrumbItems" *ngIf='!bHideBreadCrumb'
  bgimageclass="addcategory_header"></app-page-title>

  <div class="row">
    <form class="col-12" novalidate #_bankaccountFormElem="ngForm" >
      <div class="card card-bg">
        <div class="card-body">
          <h2>Category Wise Balance Summary </h2>
               
           <div class="row">
            <div class="col-sm-12">                
            </div>                 
          </div>
        </div>
      </div>
    </form>
    
    
<div class="container-fluid">
  <!-- page title -->
  <!-- <app-page-title title="" [breadcrumbItems]="breadCrumbItems" *ngIf='!bHideBreadCrumb'
  bgimageclass="addcategory_header"></app-page-title> -->

  <div class="row">
    <form class="col-12" novalidate #_bankaccountFormElem="ngForm" >
      
           <div class="row">
            <div class="col-sm-12">                
            </div>              
            <div class="col-sm-4">
              <div class="form-group">
                <label for="sAccountNo"></label>                  
                 </div>
            </div>
            <div class="col-sm-7">
              <div class="form-group">
                <label for="sAccountNo">As on Date: Savings Account Rs 500/-</label>                  
                 </div>
            </div>
            <div class="col-sm-1">
              <div class="form-group">
                <label for="sAccountNo"></label>                  
                 </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group border-cls">
                <label for="sAccountNo"></label>                  
                 </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="sAccountNo">Credit:</label>                  
                 <!-- <input id="sAccountNo" name="sAccountNo" [(ngModel)]="oalltransactionprintmodel.sAccountNo" type="text"
                  class="form-control" > -->
              </div>
            </div>
            
            <div class="col-sm-12">
              <div class="form-group">
                <label for="sDate">Debit:</label>                  
                <!-- <input id="sDate" name="sDate" [(ngModel)]="oalltransactionprintmodel.sDate" type="sDate"
                  class="form-control" > -->
              </div>
            </div>
            
            <div class="col-sm-12">
              <div class="form-group border-cls">
                <label for="sDate">Balance:</label>                  
                <!-- <input id="sDate" name="sDate" [(ngModel)]="oalltransactionprintmodel.sDate" type="sDate"
                  class="form-control" > -->
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="sAccountNo">S.No:</label>           
              </div>
            </div>
            
            <div class="col-sm-6">
              <div class="form-group">
                <label for="sDate">Account Name</label>                  
                <!-- <input id="sDate" name="sDate" [(ngModel)]="oalltransactionprintmodel.sDate" type="sDate"
                  class="form-control" > -->
              </div>
            </div>
            
            <div class="col-sm-3">
              <div class="form-group">
                <label for="sDate">Balance:</label>                  
                <!-- <input id="sDate" name="sDate" [(ngModel)]="oalltransactionprintmodel.sDate" type="sDate"
                  class="form-control" > -->
              </div>
            </div>              
            <div class="col-sm-12">
              <div class="form-group border-cls">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="sAccountNo">1</label>                  
                 <!-- <input id="sAccountNo" name="sAccountNo" [(ngModel)]="oalltransactionprintmodel.sAccountNo" type="text"
                  class="form-control" > -->
              </div>
            </div>
            
            <div class="col-sm-6">
              <div class="form-group">
                <label for="sDate">Account Holder Name-1</label>                  
                <!-- <input id="sDate" name="sDate" [(ngModel)]="oalltransactionprintmodel.sDate" type="sDate"
                  class="form-control" > -->
              </div>
            </div>
            
            <div class="col-sm-3">
              <div class="form-group">
                <label for="sDate">30,000.00/-Cr</label>                  
                <!-- <input id="sDate" name="sDate" [(ngModel)]="oalltransactionprintmodel.sDate" type="sDate"
                  class="form-control" > -->
              </div>
            </div>              
            <div class="col-sm-12">
              <div class="form-group border-cls">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="sAccountNo">2</label>                  
                 <!-- <input id="sAccountNo" name="sAccountNo" [(ngModel)]="oalltransactionprintmodel.sAccountNo" type="text"
                  class="form-control" > -->
              </div>
            </div>
            
            <div class="col-sm-6">
              <div class="form-group">
                <label for="sDate">Account Holder Name-2</label>                  
                <!-- <input id="sDate" name="sDate" [(ngModel)]="oalltransactionprintmodel.sDate" type="sDate"
                  class="form-control" > -->
              </div>
            </div>
            
            <div class="col-sm-3">
              <div class="form-group">
                <label for="sDate">15,000/-Cr</label>                  
                <!-- <input id="sDate" name="sDate" [(ngModel)]="oalltransactionprintmodel.sDate" type="sDate"
                  class="form-control" > -->
              </div>
            </div>              
            <div class="col-sm-12">
              <div class="form-group border-cls">
              </div>
            </div> 
            <div class="col-sm-12">
              <div class="form-group border-cls">
              </div>
            </div>
            <div class="col-sm-8 add-category-btn-container">
              <button type="submit" class="btn btn-primary mr-1" [disabled]="bIsAddActive || bIsEditActive"
              >{{sButtonText}}</button>
            </div>        
          </div>
        <!-- </div>
      </div> -->
    </form>