.radio-container{
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    gap: 20px;
    label{
        color:black;
    }
}

label{
    color:orange;
}

.card-bg{
background-color: antiquewhite;
}
.buttonadjust{
    margin-top: 26px;
}
.control-label{
    color:black;
}
.colorAdjust{
    color : #343434;
    padding-right: 15px;
}