.radio-container{
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    gap: 20px;
    label{
        color:black;
    }
}

.account-detail{
    color: orange;
    margin-left: 15px;
}

.card-bg{
background-color: antiquewhite;
}

.trans-detail{
    color: orange;
}
.savings-header{
    display: grid;
   justify-content: space-between;
   //align-items: center;
   grid-auto-flow: column;
   width : 100%;
}
@media print {
    
    *{
        visibility: hidden;
        margin: 0;
        padding : 0;
    }
    app-account-ledger-table{
        visibility: visible !important;
     }
    
}