.radio-container{
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    gap: 20px;
    label{
        color:black;
    }
}
.add-category-btn-container{
    margin-top :25px ;
}
.account-detail{
    color: orange;
    margin-left: 15px;
}

.card-bg{
background-color: antiquewhite;
}

.trans-detail{
    color: orange;
}
.savings-header{
    display: grid;
   justify-content: space-between;
   //align-items: center;
   grid-auto-flow: column;
   width : 100%;
  // margin-top: -50px;
}
@media print {
    .no-print{
        display: none;
    }     
}