.radio-container{
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    gap: 20px;
    label{
        color:black;
    }
}

.trans-detail{
    color: orange;
}
.savings-header{
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-auto-flow: column;
}
.buttonadjust{
    margin-top: 26px;
}
.card{
    padding-left: 10px;
}
.card-bg{
background-color: antiquewhite;
}
@media print {
    app-page-title,.savings-header,.hide-savings,.hideSavingsDeposit{
        display: none!important;
    }
    
}