.trans-detail{
    color: black;
    font-weight: bold;
    font-size : 17px;
}
@media print{
    .notvisible{
       display : none !important ;
    }
    .adjust{
        justify-content: space-around !important;
        //padding-right: -15px;
    }
    .adjustlines1{
       margin-top:  5%!important;
    }
    .adjustlines2{
        margin-top: 10% !important;
     }
     .adjustlines3{
        margin-top: 15% !important;
     }
     .adjustlines4{
        margin-top: 20% !important;
     }
     .adjustlines5{
        margin-top: 25% !important;
     }
     .adjustlines6{
        margin-top: 30% !important;
     }
     .adjustlines7{
        margin-top: 35% !important;
     }
     .adjustlines8{
        margin-top: 40% !important;
     }
     .adjustlines9{
        margin-top: 45% !important;
     }
     .adjustlines10{
        margin-top: 50% !important;
     }
     .adjustlines11{
        margin-top: 55% !important;
     }
     .adjustlines12{
        margin-top: 60% !important;
     }
     .adjustlines13{
        margin-top: 65% !important;
     }
     .adjustlines14{
        margin-top: 70% !important;
     }
     .adjustlines15{
        margin-top: 75% !important;
     }
     .adjustlines16{
        margin-top: 80% !important;
     }
     .adjustlines17{
        margin-top: 85% !important;
     }
     .adjustlines18{
        margin-top: 90% !important;
     }
     .adjustlines19{
        margin-top: 95% !important;
     }
}
.notvisiblepdf{
   display : none !important ;
}
.tableheader{
    font-size: 17px;
}