<div id="{{type}}" class="adjustlines">
  <div class="row accountDetails" *ngIf="bVisiblePdf" >
    <!-- <div class="row col-sm-12" >
      <div class="col-sm-6">
        <div class="form-group">
          <table class="col-sm-6 text-center">
            <thead>
              <tr class="imagewidth">
              <th ><label for="sPassportPhoto">Photo</label></th>
              <th><label for="sSignature-1">Sign-1</label></th>
              <th><label for="sSignature-2">Sign-2</label></th>
            </tr>
            </thead>
            <tbody>
            <tr class="imagewidth">
              <td> <img src="{{sImageRootPath + oAlltransactionprintmodel.oPassportImageInfo?.sImageURL}}" class="photoWidth"/></td>
              <td><img src="{{sImageRootPath + oAlltransactionprintmodel.oSignature1Info?.sImageURL}}" class="signWidth"/></td>
              <td><img src="{{sImageRootPath + oAlltransactionprintmodel.oSignature2Info?.sImageURL}}" class="signWidth"/></td>
            </tr>  
        </tbody> 
        </table>           
           </div>
      </div>
    </div>  -->
      <div class="row col-sm-6">
        
      </div>
      
         
   <div class="row col-sm-12">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="sAccountNo">Account No :</label>                  
        <label class="account-detail">{{oAlltransactionprintmodel.sAccountNo}}</label>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="sDate">Date of Issue:</label>                  
        <label class="account-detail">{{oAlltransactionprintmodel.sDate}}</label>
      </div>
    </div>
    
    <div class="col-sm-6">
      <div class="form-group">
        <label for="sApplicantName">Customer Name:</label>                  
        <label class="account-detail">{{oAlltransactionprintmodel.sApplicantName}}</label>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="sNomineeName">Nominee Name:</label>                  
        <label class="account-detail">{{oAlltransactionprintmodel.sNomineeName}}</label>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="sFatherOrHusbandName">Father/Husband Name:</label>                  
        <label class="account-detail">{{oAlltransactionprintmodel.sFatherOrHusbandName}}</label>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="sMobileNumber">Mobile No:</label> 
        <label class="account-detail">{{oAlltransactionprintmodel.sMobileNumber}}</label>
      </div>
    </div>
    
    <div class="col-sm-6">
      <div class="form-group">
        <label for="sAddress">Address:</label>                  
        <label class="account-detail">{{oAlltransactionprintmodel.sFlatNo}}<span>, </span>{{oAlltransactionprintmodel.sStreetName}}<span>, </span>
          {{oAlltransactionprintmodel.sVillageAddress}}<span>, </span>{{oAlltransactionprintmodel.sMandalAddress}}<span>, </span>
          {{oAlltransactionprintmodel.sDistrictAddress}}</label>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
          <label for="sAccountCategory">Account Category:</label>  
          <label class="account-detail">
            {{oAlltransactionprintmodel.sAccountCategory}}
          </label>
      </div>
    </div>
                
    <div class="col-sm-6">
      <div class="form-group">
          <label for="sShareType">Types of Share:</label>
          <label class="account-detail">{{oAlltransactionprintmodel.sShareType}}</label>                     
      </div>
    </div>
    
    <div class="col-sm-6">
      <div class="form-group">
        <label for="sDOB">Date Of Birth:</label>                  
        <label class="account-detail">{{oAlltransactionprintmodel.sDOB}}</label>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group"> 
          <label for="sCustomerId">Customer ID:</label>
          <label class="account-detail">{{oAlltransactionprintmodel.sCustomerId}}</label>                 
      </div>
    </div>
    
    <div class="col-sm-6">
      <div class="form-group">
        <label for="sAccountType">Type Of Account</label>                  
        <label class="account-detail">{{oAlltransactionprintmodel.sAccountType}}</label>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="sAadharNo">Aadhar No:</label>                  
        <label class="account-detail">{{oAlltransactionprintmodel.sAadharNo}}</label>
      </div>
    </div>
                
  </div>
</div> 
<p *ngIf="bVisiblePdf" class="pstyle">-------------------------------------------------------------------------</p>

<h2 *ngIf="bVisibleLoan" style="margin-top: 10px;" class="ledgerString">{{oCreditLoanmodel.sTypeofLoan}} - {{oCreditLoanmodel.nSanctionAmount}}</h2>
  <div class="row col-sm-12 accountDetails" *ngIf="bVisibleLoan">
    <div class="col-sm-3">
      <div class="form-group">
        <label for="sDate">Loan Issue Date:</label>
        <label class="account-detail">{{oCreditLoanmodel.sDate}}</label>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="sTypeofLoan">Type of Loan:</label>
        <label class="account-detail">{{oCreditLoanmodel.sTypeofLoan}}</label>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="nSanctionAmount">Sanction Amount:</label>
        <label class="account-detail">{{oCreditLoanmodel.nSanctionAmount}}</label>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="nIntrest">Intrest:</label>
        <label class="account-detail">{{oCreditLoanmodel.nIntrest}}</label>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="nTotalAmount">Total Amount:</label>
        <label class="account-detail">{{oCreditLoanmodel.nTotalAmount}}</label>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="sInstallmentType">Installment Types:</label>
        <label class="account-detail">{{oCreditLoanmodel.sInstallmentType}}</label>
      </div>
    </div>
    
    <div class="col-sm-3">
      <div class="form-group">
        <label for="nInstallmentAmount">Installment Amount:</label>
        <label class="account-detail">{{oCreditLoanmodel.nInstallmentAmount}}</label>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="sEndofLoanDate">End of the Loan:</label>
        <label class="account-detail"> {{oCreditLoanmodel.sEndofLoanDate}}</label>
      </div>
    </div>
  </div>






  <p *ngIf="bVisibleLoan" class="pstyle">-------------------------------------------------------------------------</p>





  <div class="hide-ledegr" [ngClass]="{'adjustlines1': lineDecide == 2,'adjustlines2': lineDecide == 3,
'adjustlines3': lineDecide == 4,'adjustlines4': lineDecide == 5,'adjustlines5': lineDecide == 6,'adjustlines6': lineDecide == 7,
'adjustlines7': lineDecide == 8,'adjustlines8': lineDecide == 9,'adjustlines9': lineDecide == 10,'adjustlines10': lineDecide == 11,
'adjustlines11': lineDecide == 12,'adjustlines12': lineDecide == 13,'adjustlines13': lineDecide == 14,'adjustlines14': lineDecide == 15,
'adjustlines15': lineDecide == 16,'adjustlines16': lineDecide == 17,'adjustlines17': lineDecide == 0}">
    <h4 class="ledgerString" [ngClass]="{'notvisible' : bNotPrintHead }">Account Transactions</h4>
    <div class="row tableheader" [ngClass]="{'notvisible' : bNotPrintHead }">
      <div class="col-1 notvisible" *ngIf="bPrintLine">
        <div class="form-group">
          <label for="printLine">L.No</label>
        </div>
      </div>
      <div class="col-2">
        <div class="form-group">
          <label for="sBranchCode">Date</label>
        </div>
      </div>
      <div class="col" *ngIf="bShowAccNum">
        <div class="form-group">
          <label for="sBranchCode">Account Number</label>
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label for="sAccountNo">Credit</label>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="sBranchCode">Debit</label>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="sBranchCode">Balance Amount</label>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="sBranchCode">Transaction ID</label>
        </div>
      </div>
      <div class="col-2">
        <div class="form-group">
          <label for="sBranchCode">Narration</label>
        </div>
      </div>

      <div class="col" *ngIf="bShowEmployee">
        <div class="form-group">
          <label for="sEmployeeName">Employee Name</label>
        </div>
      </div>

    </div>
  </div>
  <div class="row adjust" *ngFor="let otransactionmodel of aTransactions;let i=index">
    <div class="col-1" *ngIf="bPrintLine" [ngClass]="{'notvisible':bPrintLine}">
      <div class="form-group">
        <label for="printLine" class="trans-detail">{{+i +1 }}</label>
      </div>
    </div>
    <div class="col-2" [ngClass]="{'notvisible' : (lineFrom > (+i+1))   || ((+i+1) > lineTo) }">
      <div class="form-group">
        <label for="sBranchCode" class="trans-detail">{{otransactionmodel.sDate}}</label>
      </div>
    </div>

    <div class="col" *ngIf="bShowAccNum" [ngClass]="{'notvisible' : (lineFrom > (+i+1))   || ((+i+1) > lineTo) }">
      <div class="form-group">
        <label for="sBranchCode" class="trans-detail">{{otransactionmodel.sAccountNo}}</label>
      </div>
    </div>

    <div class="col" [ngClass]="{'notvisible' : (lineFrom > (+i+1))   || ((+i+1) > lineTo) }">
      <div class="form-group">
        <label for="sAccountNo" class="trans-detail">{{otransactionmodel.nCreditAmount.toLocaleString()}}</label>
      </div>
    </div>
    <div class="col" [ngClass]="{'notvisible' : (lineFrom > (+i+1))   || ((+i+1) > lineTo) }">
      <div class="form-group">
        <label for="sBranchCode" class="trans-detail">{{otransactionmodel.nDebitAmount.toLocaleString()}}</label>
      </div>
    </div>
    <div class="col" [ngClass]="{'notvisible' : (lineFrom > (+i+1))   || ((+i+1) > lineTo) }">
      <div class="form-group">
        <label for="sBranchCode" class="trans-detail">{{otransactionmodel.nBalanceAmount.toLocaleString()}}</label>
      </div>
    </div>
    <div class="col" [ngClass]="{'notvisible' : (lineFrom > (+i+1))   || ((+i+1) > lineTo) }">
      <div class="form-group">
        <label for="sBranchCode" class="trans-detail">{{otransactionmodel.nTransactionId}}</label>
      </div>
    </div>
    <div class="col-2" [ngClass]="{'notvisible' : (lineFrom > (+i+1))   || ((+i+1) > lineTo) }">
      <div class="form-group">
        <label for="sBranchCode" class="trans-detail">{{otransactionmodel.sNarration}}</label>
      </div>
    </div>

    <div class="col" *ngIf="bShowEmployee">
      <div class="form-group">
        <label for="sBranchCode" class="trans-detail">{{otransactionmodel.sEmployeeName}}</label>
      </div>
    </div>

  </div>
</div>