<div class="container-fluid">
  <!-- page title -->
  <app-page-title bgimageclass="addconfig_header" title="Add Configuration Type" [breadcrumbItems]="breadCrumbItems" *ngIf='!bHideBreadCrumb'></app-page-title>

  <div class="row">
    <form novalidate #_configurationtypeFormElem="ngForm" (ngSubmit)="fnOnConfigurationtypeInfoSubmit()">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Configuration Type Information</h4>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label">Configuration Type Name</label>
                <input id="configurationtypename" name="sConfigurationtypeName" [(ngModel)]="oConfigurationtypeModel.sConfigurationtypeName" type="text"
                  class="form-control">

              </div>
            </div>
            <div class="col-sm-6 add-category-btn-container">
              <button type="submit" class="btn btn-primary mr-1" [disabled]="bIsAddActive || bIsEditActive"
              >{{sButtonText}}</button>
              <button type="button" class="btn btn-secondary" (click)="fnResetConfigurationtypeName()">Clear</button>
            </div>

          </div>
        </div>
      </div>
    </form>

    <div class="card" *ngIf="!bHideConfigurationtypeList">
      <div class="card-body">
        <h4 class="card-title">Configurationtype List</h4>
        <div class="table-responsive mb-0">
          <table class="table table-centered table-nowrap">
            <thead class="thead-light">
              <tr>
                <th>S.No</th>
                <th>Category ID</th>
                <th>Category Name</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <!-- ngFor="let data of transactions" -->
              <tr *ngFor="let configtype of aConfigurationtypes;let indexOfelement=index;">
                <td>{{indexOfelement+1}}</td>
                <td>{{configtype.nConfigurationtypeId}}</td>
                <td>{{configtype.sConfigurationtypeName}}</td>
                <td>
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary btn-sm btn-rounded add-round-btn" ngbtooltip="edit"
                  (click)="openModal(editconfigurationtype,indexOfelement)">
                    <i class="bx bx-pencil"></i>
                  </button>
                </td>
                <td>
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary btn-sm btn-rounded add-round-btn" ngbtooltip="delete"
                  (click)="fnDeleteConfigurationtype(indexOfelement)">
                    <i class="bx bx-trash-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #editconfigurationtype role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Edit Configurationtype</h5>
    <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
  </div>
  <div class="modal-body">
    <app-addconfigurationtype bHideBreadCrumb='true'
    [bisEditMode]="true"
    bHideConfigurationtypeList='true'
    [oEditConfigurationtype]='aConfigurationtypes[nSelectedEditIndex]'
    (updateClicked)="fnUpdateParentAfterEdit()"></app-addconfigurationtype>

  </div>
</ng-template>
