<div class="container-fluid">
    <!-- page title -->
    <app-page-title title="" [breadcrumbItems]="breadCrumbItems" *ngIf='!bHideBreadCrumb'
    bgimageclass="addcategory_header"></app-page-title>
    <app-bank-account-data headerText='Daily Deposit Account' 
    (accountDataClicked)="fnGetCreditLoans($event)"></app-bank-account-data>
    <div class="row">
      <form class="col-12" novalidate #_bankaccountFormElem="ngForm" >
        <div class="card card-bg">
          <div class="card-body">
            <h2>Daily Saving Deposit</h2>
  
             <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="sDate">Start Date</label>                  
                  <input id="sDate" name="sDate" [(ngModel)]="oDailySavingDebitModel.sStartDate" type="date"
                    class="form-control" (change)="fnCalculateDays()">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="sDate">End Date</label>                  
                  <input id="sDate" name="sDate" [(ngModel)]="oDailySavingDebitModel.sEndDate" type="date"
                    class="form-control" (change)="fnCalculateDays()">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="sTotaldays">Total Days</label>                  
                  <input id="sTotaldays" name="sTotaldays" [(ngModel)]="oDailySavingDebitModel.sTotaldays" type="text"
                    class="form-control" readonly>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="sDayAmount">For Day Amount</label>
                  <input id="sDayAmount" name="sDayAmount" [(ngModel)]="oDailySavingDebitModel.nDayAmount" type="text"
                    class="form-control" (input)="fnCalculateTotalAmount()">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="nAmount">Total Amount</label>
                  <input id="nAmount" name="nAmount" [(ngModel)]="oDailySavingDebitModel.nAmount" type="number"
                    class="form-control" readonly>
                </div>
              </div> 
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="sReceiverName">Received Employee</label>
                  <input id="sReceiverName" name="sReceiverName" [(ngModel)]="oDailySavingDebitModel.sReceiverName" type="text"
                    class="form-control" disabled>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="add-container">
                  <div class="form-group">
                    <label for="nTransactionId">Transaction ID</label>
                    <input id="nTransactionId" name="nTransactionId" [(ngModel)]="oDailySavingDebitModel.nTransactionId" type="text"
                    class="form-control" disabled>
                  </div>
                </div>
              </div>             
  
              <div class="col-sm-8 add-category-btn-container">
                <button type="submit" class="btn btn-primary mr-1" [disabled]="bIsAddActive || bIsEditActive"
                >{{sButtonText}}</button>
                <button type="button" class="btn btn-secondary"
                >Clear</button>
                <!-- <button type="button" class="btn btn-secondary"
                >Clear</button> -->
              </div>
            </div>
          </div>
        </div>
      </form>
  