<div class="container-fluid">
    <!-- page title -->
    <app-page-title title="" [breadcrumbItems]="breadCrumbItems" *ngIf='!bHideBreadCrumb'
    bgimageclass="addcategory_header"></app-page-title>
    <app-bank-account-data headerText='' 
    (accountDataClicked)="fnGetAccountDetails($event)" [bPdfPrint]="bPdfPrint"
     *ngIf = "activatedroute.snapshot.data.type === 'withdraw'"></app-bank-account-data>


    <div class="col-12 card card-bg" *ngIf = "activatedroute.snapshot.data.type === 'withdraw'">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">Select Type Of Savings</label>
              <ng-select [items]="aSavingDeposit" name="transactionType" [(ngModel)]="sSelectedSavingType"
                bindLabel="sTypeofSavings" bindValue="sTypeofSavings" (change)="fnEnableButton()">
                <ng-template ng-label-tmp let-item="item">
                  {{item.sTypeofSavings}}
                </ng-template>
              </ng-select>
            </div>
          </div>
          <div class="col-sm-5 btn-container">
            <button type="button" class="btn btn-primary mr-1 buttonadjust" (click)="fnGetSavingsDeposit()" [disabled]="!bIsBtnActive">
              Get SavingType Details</button>
          </div>
        </div>
      </div>
    </div>




    <div class="row" *ngIf="bShowLoanData">
    <div class="col-12"  >
      <div class="card card-bg" >
        <div class="card-body">

          <div class="savings-header">
            <div></div>
            <button type="button" class="btn btn-primary mr-1" (click)="fnPrintPassBook()">
              print</button>
          </div>

          <ngb-accordion #acc="ngbAccordion" activeIds="static-1" [closeOthers]="true">
            <ngb-panel id="static-1">
              <ng-template ngbPanelTitle class="text-black">
                <h2 class="hide-savings">{{sLedgerHeading}} </h2>
              </ng-template>
              <ng-template ngbPanelContent>
                <app-account-ledger-table [aTransactions]='aTransactionModel'></app-account-ledger-table>
                
              </ng-template>
            </ngb-panel>
            
          </ngb-accordion>

          <form class="col-12 hide-savingDeposit" novalidate #_DailySavingDebitFormElem="ngForm" (ngSubmit)="fnOnDailySavingDebitInfoSubmit()">
            <div class="row">
              <div class="col-sm-6" *ngIf="bIsDeposit">
                <div class="form-group">
                  <label for="sDate">Start Date</label>       
                  <input [bsConfig]="{startView: 'month', showWeekNumbers: false,
                  showTodayButton: true, todayPosition: 'center',containerClass: 'theme-orange',
                  dateInputFormat: 'DD-MM-YYYY' }"
                  placeholder="Select Date" bsDatepicker name="sStartDate"
              class="form-control"
               [(ngModel)]="oDailySavingDebitModel.sStartDate" (bsValueChange)="fnCalculateDays()">           
                 <!--<input id="sDate" name="sDate" [(ngModel)]="oDailySavingDebitModel.sStartDate" type="date" 
                    class="form-control" (change)="fnCalculateDays()">-->
                </div>
              </div>
              <div class="col-sm-6" *ngIf="bIsDeposit">
                <div class="form-group">
                  <label for="sDate">End Date</label>     

                  <input [bsConfig]="{startView: 'month', showWeekNumbers: false,
                  showTodayButton: true, todayPosition: 'center',containerClass: 'theme-orange',
                  dateInputFormat: 'DD-MM-YYYY' }"
                  placeholder="Select Date" bsDatepicker name="sEndDate"
              class="form-control"
               [(ngModel)]="oDailySavingDebitModel.sEndDate" (bsValueChange)="fnCalculateDays()"> 

                <!--  <input id="sDate" name="sDate" [(ngModel)]="oDailySavingDebitModel.sEndDate" type="date"
                    class="form-control" (change)="fnCalculateDays()">-->
                </div>
              </div>
              <div class="col-sm-6" *ngIf="bIsDeposit">
                <div class="form-group">
                  <label for="nTotaldays">Total Days</label>                  
                  <input id="nTotaldays" name="nTotaldays" [(ngModel)]="oDailySavingDebitModel.nTotaldays" type="number"
                    class="form-control" readonly>
                </div>
              </div>
              <div class="col-sm-6" *ngIf="bIsDeposit">
                <div class="form-group">
                  <label for="sDayAmount">For Day Amount</label>
                  <input id="sDayAmount" name="sDayAmount" [(ngModel)]="oDailySavingDebitModel.nDayAmount" type="text"
                    class="form-control" (input)="fnCalculateTotalAmount()">
                </div>
              </div>
              <div class="col-sm-6" *ngIf="!bIsDeposit">
                <div class="form-group">
                  <label for="sDate">Date</label> 

                  <input [bsConfig]="{startView: 'month', showWeekNumbers: false,
                  showTodayButton: true, todayPosition: 'center',containerClass: 'theme-orange',
                  dateInputFormat: 'DD-MM-YYYY' }"
                  placeholder="Select Date" bsDatepicker name="sDate"
              class="form-control"
               [(ngModel)]="oDailySavingDebitModel.sEndDate" >

                <!--  <input id="sDate" name="sDate" [(ngModel)]="oDailySavingDebitModel.sEndDate" type="date"
                    class="form-control">-->
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="nAmount">Total Amount</label>
                  <input id="nAmount" name="nAmount" [(ngModel)]="oDailySavingDebitModel.nAmount" type="number"
                    class="form-control" [disabled]="bIsDeposit">
                </div>
              </div> 
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="sReceiverName">Received Employee</label>
                    <ng-select [items]="aUsers" name="sReceiverName"
                      [(ngModel)]="oDailySavingDebitModel.sReceiverName" 
                      bindLabel="sEmployeeName" bindValue="sEmployeeName">
                      <ng-template ng-label-tmp let-item="item">
                        {{item.sEmployeeName}}
                      </ng-template>
                    </ng-select>
                </div>
              </div>
              <!-- <div class="col-sm-6">
                <div class="add-container">
                  <div class="form-group">
                    <label for="sTransactionId">Transaction ID</label>
                    <input id="sTransactionId" name="sTransactionId" [(ngModel)]="oDailySavingDebitModel.sTransactionId" type="text"
                    class="form-control" disabled>
                  </div>
                </div>
              </div>              -->

              <div class="col-sm-6">
                <div class="form-group">
                  <label for="sNarration">Narration</label>                  
                  <input id="sNarration" name="sNarration" [(ngModel)]="oDailySavingDebitModel.sNarration" type="text"
                    class="form-control" >
                </div>
              </div>
  
              <div class="col-sm-8 add-category-btn-container">
                <button type="submit" class="btn btn-primary mr-1" [disabled]="bIsAddActive || bIsEditActive"
                >{{sButtonText}}</button>
                <button type="button" class="btn btn-secondary"
                >Clear</button>
                <!-- <button type="button" class="btn btn-secondary"
                >Clear</button> -->
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
    
</div>
  