.radio-container{
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    gap: 20px;
    label{
        color:black;
    }
}

.trans-detail{
    color: orange;
}

.card-bg{
background-color: antiquewhite;
}
@media print {
    app-bank-account-data,.savings-header,.hide-savings,.hide-ledger{
        display: none!important;
    }
    
}