.radio-container{
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    gap: 20px;
    label{
        color:black;
    }
}

.trans-detail{
    color: orange;
}

.card-bg{
background-color: antiquewhite;
}