<div class="container-fluid">
    <!-- page title -->
    <app-page-title title="" [breadcrumbItems]="breadCrumbItems" *ngIf='!bHideBreadCrumb'
    bgimageclass="addcategory_header"></app-page-title>
    <app-bank-account-data headerText='Daily Deposit Account' 
    (accountDataClicked)="fnGetCreditLoans($event)"></app-bank-account-data>
    <div class="row" *ngIf="bShowLoanData">
    <div class="col-12"  >
      <div class="card card-bg" >
        <div class="card-body">
           
          <ngb-accordion #acc="ngbAccordion" activeIds="static-1" [closeOthers]="true">
            <ngb-panel id="static-1">
              <ng-template ngbPanelTitle class="text-black">
                <h2>Savings Account </h2>
              </ng-template>
              <ng-template ngbPanelContent>
                
                <h4>Account Ledger</h4>
                <div class="row">
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label for="sBranchCode">Date</label> 
                      <!-- <input id="sBranchCode" name="sBranchCode" [(ngModel)]="opassbookprintmodel.sBranchCode" type="sDate"
                        class="form-control" > -->
                    </div>
                  </div>
                  
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label for="sAccountNo">Credit</label>                  
                       </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label for="sBranchCode">Debit</label>                  
                      <!-- <input id="sBranchCode" name="sBranchCode" [(ngModel)]="opassbookprintmodel.sBranchCode" type="sDate"
                        class="form-control" > -->
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                        <label for="sBranchCode">Balance Amount</label>  
                        <!-- <input id="sBranchCode" name="sBranchCode" [(ngModel)]="opassbookprintmodel.sBranchCode" type="sDate"
                        class="form-control" > -->
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="sBranchCode">Narration</label>                  
                      <!-- <input id="sBranchCode" name="sBranchCode" [(ngModel)]="opassbookprintmodel.sBranchCode" type="sDate"
                        class="form-control" > -->
                    </div>
                  </div>
                               
                </div>
                <div class="row" *ngFor="let otransactionmodel of aTransactionModel">
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label for="sBranchCode" class="trans-detail">{{otransactionmodel.sDate}}</label> 
                      
                    </div>
                  </div>
                  
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label for="sAccountNo" class="trans-detail">{{otransactionmodel.nCreditAmount}}</label>                  
                       </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label for="sBranchCode" class="trans-detail">{{otransactionmodel.nDebitAmount}}</label>                  
                      <!-- <input id="sBranchCode" name="sBranchCode" [(ngModel)]="opassbookprintmodel.sBranchCode" type="sDate"
                        class="form-control" > -->
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                        <label for="sBranchCode" class="trans-detail">{{otransactionmodel.nBalanceAmount}}</label>  
                        <!-- <input id="sBranchCode" name="sBranchCode" [(ngModel)]="opassbookprintmodel.sBranchCode" type="sDate"
                        class="form-control" > -->
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="sBranchCode" class="trans-detail">{{otransactionmodel.sNarration}}</label>                  
                      <!-- <input id="sBranchCode" name="sBranchCode" [(ngModel)]="opassbookprintmodel.sBranchCode" type="sDate"
                        class="form-control" > -->
                    </div>
                  </div>
                               
                </div>
              </ng-template>
            </ngb-panel>
            
          </ngb-accordion>

          <form class="col-12" novalidate #_DailySavingDebitFormElem="ngForm" (ngSubmit)="fnOnDailySavingDebitInfoSubmit()">
            <div class="row">
              <div class="col-sm-6" *ngIf="bIsDeposit">
                <div class="form-group">
                  <label for="sDate">Start Date</label>                  
                  <input id="sDate" name="sDate" [(ngModel)]="oDailySavingDebitModel.sStartDate" type="date"
                    class="form-control" (change)="fnCalculateDays()">
                </div>
              </div>
              <div class="col-sm-6" *ngIf="bIsDeposit">
                <div class="form-group">
                  <label for="sDate">End Date</label>                  
                  <input id="sDate" name="sDate" [(ngModel)]="oDailySavingDebitModel.sEndDate" type="date"
                    class="form-control" (change)="fnCalculateDays()">
                </div>
              </div>
              <div class="col-sm-6" *ngIf="bIsDeposit">
                <div class="form-group">
                  <label for="nTotaldays">Total Days</label>                  
                  <input id="nTotaldays" name="nTotaldays" [(ngModel)]="oDailySavingDebitModel.nTotaldays" type="number"
                    class="form-control" readonly>
                </div>
              </div>
              <div class="col-sm-6" *ngIf="bIsDeposit">
                <div class="form-group">
                  <label for="sDayAmount">For Day Amount</label>
                  <input id="sDayAmount" name="sDayAmount" [(ngModel)]="oDailySavingDebitModel.nDayAmount" type="text"
                    class="form-control" (input)="fnCalculateTotalAmount()">
                </div>
              </div>
              <div class="col-sm-6" *ngIf="!bIsDeposit">
                <div class="form-group">
                  <label for="sDate">Date</label>                  
                  <input id="sDate" name="sDate" [(ngModel)]="oDailySavingDebitModel.sEndDate" type="date"
                    class="form-control">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="nAmount">Total Amount</label>
                  <input id="nAmount" name="nAmount" [(ngModel)]="oDailySavingDebitModel.nAmount" type="number"
                    class="form-control">
                </div>
              </div> 
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="sReceiverName">Received Employee</label>
                    <ng-select [items]="aLoanIssueEmployee" name="sReceiverName"
                      [(ngModel)]="oDailySavingDebitModel.sReceiverName" 
                      bindLabel="displayText" bindValue="displayText">
                      <ng-template ng-label-tmp let-item="item">
                        {{item.displayText}}
                      </ng-template>
                    </ng-select>
                </div>
              </div>
              <!-- <div class="col-sm-6">
                <div class="add-container">
                  <div class="form-group">
                    <label for="sTransactionId">Transaction ID</label>
                    <input id="sTransactionId" name="sTransactionId" [(ngModel)]="oDailySavingDebitModel.sTransactionId" type="text"
                    class="form-control" disabled>
                  </div>
                </div>
              </div>              -->

              <div class="col-sm-6">
                <div class="form-group">
                  <label for="sNarration">Narration</label>                  
                  <input id="sNarration" name="sNarration" [(ngModel)]="oDailySavingDebitModel.sNarration" type="text"
                    class="form-control" >
                </div>
              </div>
  
              <div class="col-sm-8 add-category-btn-container">
                <button type="submit" class="btn btn-primary mr-1" [disabled]="bIsAddActive || bIsEditActive"
                >{{sButtonText}}</button>
                <button type="button" class="btn btn-secondary"
                >Clear</button>
                <!-- <button type="button" class="btn btn-secondary"
                >Clear</button> -->
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
    
</div>
  