
<div class="container-fluid">
  <!-- page title -->
  <app-page-title title="" 
  bgimageclass="addcategory_header"></app-page-title>

  <div class="row">
    <form class="col-12" novalidate #_daywiseFormElem="ngForm" (ngSubmit)="fnGetDayWiseTransactionSubmit(_daywiseFormElem)">
      <div class="card card-bg">
        <div class="card-body">
          <h2>Monthly Cumulative transactions</h2>
               
           <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="fromDate">From Date</label>
                <input [bsConfig]="{ showWeekNumbers: false,
                  showTodayButton: true, todayPosition: 'center',containerClass: 'theme-orange',
                  dateInputFormat: 'DD-MM-YYYY' }"
                  placeholder="Select Date" bsDatepicker name="fromDate" [(ngModel)]="fromDate"
              class="form-control">
                <!--
                <input id="fromDate" name="fromDate"  type="month" ngModel
                  class="form-control" >      -->            
                 </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="toDate">To Date</label>
                <input [bsConfig]="{ showWeekNumbers: false,
                  showTodayButton: true, todayPosition: 'center',containerClass: 'theme-orange',
                  dateInputFormat: 'DD-MM-YYYY' }"
                  placeholder="Select Date" bsDatepicker name="toDate" [(ngModel)]="toDate"
              class="form-control">
              <!--
                <input id="toDate" name="toDate"  type="month" ngModel
                  class="form-control" >    -->              
                 </div>
            </div>
            <div class="col-sm-4 btn-container">
              <button type="submit" class="btn btn-primary mr-1" 
              >Get Statement</button>
              
            </div> 
            <div class="col-sm-12">
              <div class="form-group">
                <label for="sAccountNo">Credit:</label>                  
                 <label class="account-detail">{{ntotalCredit.toLocaleString()}}</label>
              </div>
            </div>
            
            <div class="col-sm-12">
              <div class="form-group">
                <label for="sDate">Debit:</label>                  
                <label class="account-detail">{{ntotalDebit.toLocaleString()}}</label>
              </div>
            </div>
            
            <div class="col-sm-12">
              <div class="form-group">
                <label for="sDate">Balance:</label>                  
                <label class="account-detail">{{nbalanceAmount.toLocaleString()}}</label>
              </div>
            </div>               
          </div>
          <h4>Account Ledger</h4>
          <div class="row">
            <div class="col-sm-2">
              <div class="form-group">
                <label for="sBranchCode">Month</label> 
              </div>
            </div>
            
            <div class="col-sm-2">
              <div class="form-group">
                <label for="sAccountNo">Credit</label>                  
                 </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label for="sBranchCode">Debit</label>                  
                <!-- <input id="sBranchCode" name="sBranchCode" [(ngModel)]="opassbookprintmodel.sBranchCode" type="sDate"
                  class="form-control" > -->
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                  <label for="sBranchCode">Balance Amount</label>  
                  
              </div>
            </div>            
          </div>
          <div class="row transaction-border" *ngFor="let otransactionmodel of uniqueTransactions">
            <div class="col-sm-2">
              <div class="form-group">
                <label for="sBranchCode" class="trans-detail">{{otransactionmodel.sAccountNo}}</label> 
                
              </div>
            </div>
            
            <div class="col-sm-2">
              <div class="form-group">
                <label for="sAccountNo" class="trans-detail">{{otransactionmodel.nCreditAmount.toLocaleString()}}</label>                  
                 </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label for="sBranchCode" class="trans-detail">{{otransactionmodel.nDebitAmount.toLocaleString()}}</label>                  
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                  <label for="sBranchCode" class="trans-detail">{{otransactionmodel.nBalanceAmount.toLocaleString()}}</label>  
                  
              </div>
            </div>
            
            
                         
          </div>
        </div>
      </div>
    </form>
    
    
</div>
</div>
    