.radio-container{
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    gap: 20px;
    label{
        color:black;
    }
}

.btn-container{
    display: grid;
    justify-items: flex-start;
    align-items: center;
    margin-top: 10px;
}

.account-detail{
    color: orange;
    margin-left: 15px;
}
.trans-detail{
    color: orange;
}

.card-bg{
background-color: antiquewhite;
}
.savings-header{
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-auto-flow: column;
}


.btn-container{
    display: grid;
    justify-items: flex-start;
    align-items: center;
    margin-top: 10px;
}

.img-container{
    display: grid;
}

.card-bg{
    background-color: antiquewhite;
    }

    h4{
        text-align: center;
        margin:10px;
    }

    img:nth-child(2){
        width:50px;
    }
    img:nth-child(3){
       
        width:50px;
    }
    img:nth-child(4){
      
        width:50px;
    }
tr.imagewidth{
    td{
        column-width: 150px;
    }

}
.photoWidth{
    width : 145px;
    height: 120px;
    
}
.signWidth{
    width : 100px;
    height: 80px;
}
@media print {
    .imagewidth,.passbook-acc-input,h2,.notvisible{
        display: none;
    }
}