ngb-accordion,form{
  width:100%;
}

.ap-add-btn{
  margin-top:10px;
  align-items: center;
}

h4{
  color: deeppink;
}

.add-round-btn{
  width: 30px;
    height: 30px;
    display: grid;
    justify-content: center;
    align-content: center;
}

.dropzone,.margin10{
  margin:10px;

}

.form-control:disabled{
  background-color: whitesmoke;
}

.add-container{
  display: grid;
    grid-auto-flow: column;
    gap: 10px;
    grid-template-columns: 1fr min-content;
    align-items: center;
    width: 100%;
}

.add-item-btn-container{
  display: grid;
  justify-content: space-between;
  grid-auto-flow: column;
  align-items: center;
  margin-bottom: 10px;
}

.vertical-margin{
  margin-bottom:30px;
}

.empty-message{
  display: grid;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 24px;
    color: silver;
}

.additem-tab-border{
  border:1px solid gainsboro;
}
.additem-tabs{
  padding:15px 0;
  background-color:whitesmoke;
}
.additem-tabcontent{
  padding:15px;
}
.additem-active-tab{
  border-radius: 0!important;
}
