<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">Dashboard</h4>
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item active">Welcome to Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row">
        <div class="bg-soft-primary">
            <div class="row">
                <div class="col-7">
                    <div class="text-primary p-3">
                        <h5 class="text-primary">Welcome Back !</h5>
                        <p>Surya Farmer's Society</p>
                    </div>
                </div>
                <div class="col-5 align-self-end">
                    <img src="assets/images/newsetup/admin_add_header.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4">
            <div class="card overflow-hidden">
                
                
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Monthly Earning</h4>
                    <div>
                        <div class="col-sm-6">
                            <p class="text-muted">This month</p>
                        </div>
                        <div class="col-sm-6">
                            <label for="debit balance">debit balance</label>
                            <label for="debit balance amount">Rs.5,93,909</label>
                        </div>
                        <div  class="col-sm-6">
                            <label for="credit balance">credit balance</label>
                            <label for="credit balance amount">Rs.1,00,547</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <div class="row">
                <div *ngFor="let stat of statData" class="col-md-4">
                    <app-stat [title]="stat.title" [value]="stat.value" [icon]="stat.icon"></app-stat>
                </div>
            </div>
           <!-- end row -->

            
        </div>
    </div>
    <!-- end row -->

    

    
</div> <!-- container-fluid -->