<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">Dashboard</h4>
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item active">Welcome to Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row">
        <div class="bg-soft-primary">
            <div class="row">
                <div class="col-7">
                    <div class="text-primary p-3">
                        <h5 class="text-primary">Welcome Back !</h5>
                        <p>Surya Farmer's Society</p>
                    </div>
                </div>
                <div class="col-5 align-self-end">
                    <img src="assets/images/newsetup/admin_add_header.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7">
            <div class="card overflow-hidden">
            </div>
            <div class="card ">
                <div class="card-body">
                    <h1 class="card-title mb-4 cardTitle">Payment Details</h1>
                    <div>
                        <div class="cardContent row">
                           <label for="Total Credit">Total Credit  : </label>
                           <label class="cardValue">{{nAllCreditLoanBalance}}</label>
                        </div>
                        <div class="cardContent row">
                            <label for="Total Debit">Total Debit  : </label> 
                            <label class="cardValue">{{nAllSavingsBalance}}</label>
                        </div>
                        <div  class=" cardContent row">
                            <label for="Total Balances">Total Balances  :  </label>
                            <label class="cardValue">{{nTotalBalance}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="card overflow-hidden">
            </div>
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title mb-4 cardTitle">Account Summary</h1>
                    <div>
                        <div class=" cardContent row">
                            <label for="Total Accounts">Total Accounts  :  </label>
                            <label class="cardValue">{{nCreditLoanAccountCount + nSavingsAccountCount}} </label>
                        </div>
                        <div class=" cardContent row">
                            <label for="Credit Accounts">Credit Accounts  :  </label>
                            <label class="cardValue">{{nCreditLoanAccountCount}}</label>
                        </div>
                        <div class="cardContent row">
                            <label for="Debit Accounts">Debit Accounts  :  </label>
                            <label class="cardValue">{{nSavingsAccountCount}}</label>
                        </div>
                        <div class=" cardContent row">
                            <label for="Equal Accounts">Equal Accounts  : </label>
                           <label for="" class="cardValue">{{nEqualAccountsCount}}</label>
                        </div>
                    </div>

                </div>
            </div>
           <!-- end row -->

            
        </div>
    </div>
    <!-- end row -->

    

    
</div> <!-- container-fluid -->