<div class="container-fluid">
  <!-- page title -->
  <app-page-title bgimageclass="addbanner_header" title="Add Home Banner" [breadcrumbItems]="breadCrumbItems" *ngIf='!bHideBreadCrumb'>
  </app-page-title>

  <div class="row">
    <form novalidate #_homebannerFormElem="ngForm" (ngSubmit)="fnOnBannerInfoSubmit()">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Desktop Banner Images</h4>
          <div class="row btn-group" role="group" aria-label="Basic example">
            <button type="button" *ngFor="let previewimg of aBanners;let dpi = index"
            class="col-sm-4 preview-img-item btn" (click)="fnActiveImageItemClicked(dpi)">
              <img [src]="(appPath)+(previewimg.oImageInfo_desktop.sImageURL)"/>
          </button>
          </div>
          <h4 class="card-title">Home Banner Information</h4>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="sBannerHeading">Heading</label>
                <input id="sBannerHeading" [(ngModel)]="oBannerModel.sBannerHeading"
                name="sBannerHeading"
                  type="text" class="form-control">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="sBannerSubHeading">Sub Heading</label>
                <input id="sBannerSubHeading" [(ngModel)]="oBannerModel.sBannerSubHeading"
                name="sBannerSubHeading"
                  type="text" class="form-control">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="sBannerURL">URL</label>
                <input id="sBannerURL" [(ngModel)]="oBannerModel.sBannerURL"
                name="sBannerURL"
                  type="url" class="form-control">
              </div>
            </div>
          </div>
          <h4 class="card-title mb-3">Images</h4>
          <div class="row" *ngIf="activeItem === 0">
            <div class="col-sm-6">
              <div class="form-group">
                <dropzone [config]="oDropZoneConfig" class="dropzone" #dropzoneElemDesk
                [message]="'Desktop Banner Image'"
                (success)="fnonUploadImageSuccess_desktop($event)"></dropzone>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <dropzone [config]="oDropZoneConfig" class="dropzone" #dropzoneElemMob
                [message]="'Moblie Banner Image'"
                (success)="fnonUploadImageSuccess_mobile($event)"></dropzone>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="activeItem === 1">
            <div class="col-sm-6">
              <div class="form-group">
                <dropzone [config]="oDropZoneConfig" class="dropzone" #dropzoneElemDesk
                [message]="'Desktop Banner Image'"
                (success)="fnonUploadImageSuccess_desktop($event)"></dropzone>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <dropzone [config]="oDropZoneConfig" class="dropzone" #dropzoneElemMob
                [message]="'Moblie Banner Image'"
                (success)="fnonUploadImageSuccess_mobile($event)"></dropzone>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="activeItem === 2">
            <div class="col-sm-6">
              <div class="form-group">
                <dropzone [config]="oDropZoneConfig" class="dropzone" #dropzoneElemDesk
                [message]="'Desktop Banner Image'"
                (success)="fnonUploadImageSuccess_desktop($event)"></dropzone>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <dropzone [config]="oDropZoneConfig" class="dropzone" #dropzoneElemMob
                [message]="'Moblie Banner Image'"
                (success)="fnonUploadImageSuccess_mobile($event)"></dropzone>
              </div>
            </div>
          </div>
          <div class="row">
            <button type="submit" class="btn btn-primary" *ngIf="aBanners && (aBanners.length < oBannerSetting.nBannerCount)"
            >Add</button>
            <button type="submit" class="btn btn-primary" >Update</button>
          </div>

        </div>
      </div>
    </form>
  </div>
</div>
