<form class="col-12" [ngClass]="{'notvisible': bPdfPrint}" >
    <div class="card card-bg" >
      <div class="card-body">
        <h2 *ngIf="notfordailysavings">{{headerText}}</h2>
        <div  class="row passbook-acc-input" *ngIf="notfordailysavings">
          <div class="col-sm-6">
            <div class="form-group" >
              <label class="control-label">Account Number</label>
              <ng-select [items]="aBankAccounts" name="accountno" [(ngModel)]="sSelectedAccount"
                bindLabel="sAccountNo" bindValue="sAccountNo" (change)="fnGetAccountNumber()">
                <ng-template ng-label-tmp let-item="item">
                  {{item.sAccountNo}}
                </ng-template>
              </ng-select>
            </div>
          </div>
          <div class="col-sm-5 btn-container">
            <button type="button" class="btn btn-primary mr-1" 
            [disabled]="!bIsBtnActive" 
            (click)="fnFecthAccountDetails()">
            Show Account Details</button>
            
          </div>
          <div class="col-sm-1 btn-container" *ngIf="bShowPrintBtn">
            <button type="button" class="btn btn-primary mr-1" 
            [disabled]="!bIsBtnActive" 
            >
            print</button>
            
          </div>
        </div>
    
          <div *ngIf="bIsAccountData" class="row" >
          <div class="row col-sm-12">
            <div class="col-sm-6">
              <div class="form-group"><!--img-container-->
                <table class="col-sm-6 text-center">
                  <thead>
                    <tr class="imagewidth">
                    <th ><label for="sPassportPhoto">Photo</label></th>
                    <th><label for="sSignature-1">Sign-1</label></th>
                    <th><label for="sSignature-2">Sign-2</label></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="imagewidth">
                    <td> <img src="{{sImageRootPath + oAlltransactionprintmodel.oPassportImageInfo?.sImageURL}}" class="photoWidth"/></td>
                    <td><img src="{{sImageRootPath + oAlltransactionprintmodel.oSignature1Info?.sImageURL}}" class="signWidth"/></td>
                    <td><img src="{{sImageRootPath + oAlltransactionprintmodel.oSignature2Info?.sImageURL}}" class="signWidth"/></td>
                  </tr>  
              </tbody> 
              </table>           
                 </div>
            </div>
          </div> 
            <div class="row col-sm-6">
              
            </div>
            
               
         <div class="row col-sm-12">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="sAccountNo">Account No :</label>                  
              <label class="account-detail">{{oAlltransactionprintmodel.sAccountNo}}</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="sDate">Date of Issue:</label>                  
              <label class="account-detail">{{oAlltransactionprintmodel.sDate}}</label>
            </div>
          </div>
          
          <div class="col-sm-6">
            <div class="form-group">
              <label for="sApplicantName">Customer Name:</label>                  
              <label class="account-detail">{{oAlltransactionprintmodel.sApplicantName}}</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="sNomineeName">Nominee Name:</label>                  
              <label class="account-detail">{{oAlltransactionprintmodel.sNomineeName}}</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="sFatherOrHusbandName">Father/Husband Name:</label>                  
              <label class="account-detail">{{oAlltransactionprintmodel.sFatherOrHusbandName}}</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="sMobileNumber">Mobile No:</label> 
              <label class="account-detail">{{oAlltransactionprintmodel.sMobileNumber}}</label>
            </div>
          </div>
          
          <div class="col-sm-6">
            <div class="form-group">
              <label for="sAddress">Address:</label>                  
              <label class="account-detail">{{oAlltransactionprintmodel.sFlatNo}}<span>, </span>{{oAlltransactionprintmodel.sStreetName}}<span>, </span>
                {{oAlltransactionprintmodel.sVillageAddress}}<span>, </span>{{oAlltransactionprintmodel.sMandalAddress}}<span>, </span>
                {{oAlltransactionprintmodel.sDistrictAddress}} {{oAlltransactionprintmodel.sPinCode}}</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
                <label for="sAccountCategory">Account Category:</label>  
                <label class="account-detail">
                  {{oAlltransactionprintmodel.sAccountCategory}}
                </label>
            </div>
          </div>
                      
          <div class="col-sm-6">
            <div class="form-group">
                <label for="sShareType">Types of Share:</label>
                <label class="account-detail">{{oAlltransactionprintmodel.sShareType}}</label>                     
            </div>
          </div>
          
          <div class="col-sm-6">
            <div class="form-group">
              <label for="sDOB">Date Of Birth:</label>                  
              <label class="account-detail">{{oAlltransactionprintmodel.sDOB}}</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group"> 
                <label for="sCustomerId">Customer ID:</label>
                <label class="account-detail">{{oAlltransactionprintmodel.sCustomerId}}</label>                 
            </div>
          </div>
          
          <div class="col-sm-6">
            <div class="form-group">
              <label for="sAccountType">Type Of Account</label>                  
              <label class="account-detail">{{oAlltransactionprintmodel.sAccountType}}</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="sAadharNo">Aadhar No:</label>                  
              <label class="account-detail">{{oAlltransactionprintmodel.sAadharNo}}</label>
            </div>
          </div>
                      
        </div>
      </div> 
      </div>
    </div>
  </form>
