<div class="container-fluid">
    <!-- page title -->
    <app-page-title title="Add Village" [breadcrumbItems]="breadCrumbItems" *ngIf='!bHideBreadCrumb'
    >
    </app-page-title>
  
    <div class="row">
      <form class="col-sm-12" novalidate #_VillageFormElem="ngForm" (ngSubmit)="fnOnVillageInfoSubmit()">
        <div class="card card-bg align-items-start">
          <div class="card-body">
            <h4 class="card-title">Village Information</h4>
            <div class='row'>
              <div class="col-sm-12">
                <div class="form-group" [ngClass]="bisEditMode ? 'disable-Mandal':''">
                  <label class="control-label">Select Mandal</label>
                  <ng-select [items]="aMandals" [(ngModel)]="oVillageModel.nMandalId" name="nMandalId"
                    bindLabel="sMandalName" bindValue="nMandalId" aria-disabled={bisEditMode}>
                    <ng-template ng-label-tmp let-item="item">
                      {{item.sMandalName}}
                    </ng-template>
                  </ng-select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="Villagename">Village Name</label>
                  <input id="Villagename" [(ngModel)]="oVillageModel.sVillageName" name="sVillageName"
                    type="text" class="form-control">
                </div>
              </div>
              <div class="col-sm-6 add-Mandal-btn-container">
                <button type="submit" class="btn btn-primary mr-1" [disabled]="bIsAddActive || bIsEditActive">{{sButtonText}}</button>
                <button type="button" class="btn btn-secondary" (click)="fnResetVillageName()">Clear</button>
              </div>
  
            </div>
          </div>
        </div>
      </form>
      <div class="card" *ngIf="!bHideSubCateogryList">
        <div class="card-body">
          <h4 class="card-title">Mandal List</h4>
          <div class="table-responsive mb-0">
            <table class="table table-centered table-nowrap">
              <thead class="thead-light">
                <tr>
                  <th></th>
                  <th>S.No</th>
                  <th>Mandal ID</th>
                  <th>Mandal Name</th>
                </tr>
              </thead>
              <tbody *ngFor="let mandal of aMandals;let indexOfelement=index;">
                <!-- ngFor="let data of transactions" -->
                <tr>
                  <td align="center">
                    <a class="expand-row" (click)="changeValue(indexOfelement)">
                      <i class="bx "
                        [ngClass]="!hideme[indexOfelement] ? 'bxs-caret-up-circle' : 'bxs-caret-down-circle'"></i>
                    </a>
                  </td>
                  <td>{{indexOfelement+1}}</td>
                  <td>{{mandal.nMandalId}}</td>
                  <td>{{mandal.sMandalName}}</td>
                </tr>
                <tr *ngIf="!hideme[indexOfelement]" class="sub-table no-bg">
                  <td align="center"> </td>
                  <td colspan="15" class="p-0">
                    <table class="table mb-0 table-centered table-nowrap">
                      <thead class="thead-light">
                        <tr>
                          <th>S.No</th>
                          <th>Village ID</th>
                          <th>Village Name</th>
                          <th>Edit</th>
                          <th>Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let village of (aVillages | mandalfilter : mandal.nMandalId); let i = index">
                          <td>{{i}}</td>
                          <td>{{village.nVillageId}}</td>
                          <td>{{village.sVillageName}}</td>
                          <td>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary btn-sm btn-rounded add-round-btn" ngbtooltip="edit"
                            (click)="openModal(editVillage,indexOfelement,i)">
                              <i class="bx bx-pencil"></i>
                            </button>
                          </td>
                          <td>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary btn-sm btn-rounded add-round-btn"
                              ngbtooltip="delete" (click)="fnDeleteVillage(indexOfelement,i)">
                              <i class="bx bx-trash-alt"></i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #editVillage role="document" let-modal>
    <div class="modal-header">
      <h5 class="modal-title mt-0">Edit Village</h5>
      <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
    </div>
    <div class="modal-body">
      <app-add-village bHideBreadCrumb='true'
      [bisEditMode]="true"
      bHideSubCateogryList='true'
      [aEditMandals]='aMandals'
      [oEditVillage]='aMandals[nSelectedMandalEditIndex]'
      (updateClicked)="fnUpdateParentAfterEdit()"></app-add-village>
  
    </div>
  </ng-template>
  