.btn-container{
    display: grid;
    justify-items: flex-start;
    align-items: center;
    margin-top: 10px;
}


.account-detail{
    color: orange;
    margin-left: 15px;
}
.trans-detail{
    color: orange;
}
.img-container{
    display: grid;
}

.savings-header{
    display: grid;
   justify-content: space-between;
   //align-items: center;
   grid-auto-flow: column;
}

.card-bg{
    background-color: antiquewhite;
    }

    h4{
        text-align: center;
        margin:10px;
    }

    img{
        width:100px;
    }

    @media print {
        app-bank-account-data,.savings-header,.hide-savings{
            display: none!important;
        }

        .first .hide-loan{
            display: none!important;
        }

        .second .hide-trans{
            display: none!important;
        }
        
        
    }