
<div class="container-fluid">
    <!-- page title -->
    <app-page-title title="" [breadcrumbItems]="breadCrumbItems" *ngIf='!bHideBreadCrumb'
    bgimageclass="addcategory_header"></app-page-title>
    <app-bank-account-data headerText="All Transaction Print" 
    (accountDataClicked)="fnGetCreditLoans($event)"></app-bank-account-data>
    <div class="row">
      
      <div class="row col-12" *ngIf="aTransactions && aTransactions.length > 0">
        <div class="col-12"  >
          <div class="card card-bg" >
            <div class="card-body">
              <ngb-accordion #acc="ngbAccordion" activeIds="static-1" [closeOthers]="true">
                <ngb-panel id="static-1">
                  <ng-template ngbPanelTitle class="text-black">
                    <h2>Savings Account</h2>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <app-account-ledger-table [aTransactions]='aTransactions'></app-account-ledger-table>
                    
                  </ng-template>
                </ngb-panel>
                
              </ngb-accordion>
            </div>
          </div>
        </div>
      </div>    
      
    <div class="row col-12">
      <div class="col-12"  >
        <div class="card card-bg" *ngFor="let oCreditLoanmodel of aCreditLoan">
          <div class="card-body">
             
            <ngb-accordion #acc="ngbAccordion" activeIds="static-1" [closeOthers]="true">
              <ngb-panel id="static-1">
                <ng-template ngbPanelTitle class="text-black">
                  <h2>{{oCreditLoanmodel.sTypeofLoan}} - {{oCreditLoanmodel.nSanctionAmount}}</h2>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="sDate">Loan Issue Date:</label>
                        <label class="account-detail">{{oCreditLoanmodel.sDate}}</label>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="sTypeofLoan">Type of Loan:</label>
                        <label class="account-detail">{{oCreditLoanmodel.sTypeofLoan}}</label>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="nSanctionAmount">Sanction Amount:</label>
                        <label class="account-detail">{{oCreditLoanmodel.nSanctionAmount}}</label>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="nIntrest">Intrest:</label>
                        <label class="account-detail">{{oCreditLoanmodel.nIntrest}}</label>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="nTotalAmount">Total Amount:</label>
                        <label class="account-detail">{{oCreditLoanmodel.nTotalAmount}}</label>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="sInstallmentType">Installment Types:</label>
                        <label class="account-detail">{{oCreditLoanmodel.sInstallmentType}}</label>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="nLoanRepaymentPeriod">Loan Repayment Period:</label>
                        <label class="account-detail">{{oCreditLoanmodel.nLoanRepaymentPeriod}}</label>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="nInstallmentAmount">Installment Amount:</label>
                        <label class="account-detail">{{oCreditLoanmodel.nInstallmentAmount}}</label>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="sEndofLoanDate">End of the Loan:</label>
                        <label class="account-detail">{{oCreditLoanmodel.sEndofLoanDate}}</label>
                      </div>
                    </div>
                  </div>
                  <app-account-ledger-table [aTransactions]='oCreditLoanmodel.oTransactionInfo'></app-account-ledger-table>
                  
                </ng-template>
              </ngb-panel>
              
            </ngb-accordion>
          </div>
        </div>
      </div>
    </div>
    </div>
    

      