.btn-container{
    display: grid;
    justify-items: flex-start;
    align-items: center;
    margin-top: 10px;
}


.account-detail{
    color: orange;
    margin-left: 15px;
}

.card-bg{
    background-color: antiquewhite;
    }

    h4{
        text-align: center;
        margin:10px;
    }